@using ThienNga2.Models.Entities;
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>NewProduct</title>

    <script src="//code.jquery.com/jquery-1.12.3.js"> </script>
    <script>
        var sku = "";
        var factt = "";
        var active1 = true;
        var active2 = true;
        function checkPD() {
            var ii = 0;

            if ($("#productStoreID").val() != sku) {

                sku = $("#productStoreID").val();
                $.getJSON("/ProductDetail/getAllData?sku=" + sku, function (result) {
                    $.each(result, function (name, value) {
                        if (name == "productName") {
                            if (value != "") {
                                active1 = false;
                                $('#productStoreID').css("background-color", "red");
                                $('#productStoreID').css("color", "white");
                            }
                            else {
                                active1 = true;
                                $('#productStoreID').css("background-color", "white");
                                $('#productStoreID').css("color", "black");
                            }
                        }
                    });

                });


            }

            if ($("#producFactoryID").val() != factt) {
                var flag2 = true;
                factt = $("#producFactoryID").val();
                $.getJSON("/ProductDetail/getAllData?sku=" + factt, function (result) {
                    $.each(result, function (name, value) {
                        if (name == "productName") {
                            if (value != "") {
                                 active2 = false;
                                $('#producFactoryID').css("background-color", "red");
                                $('#producFactoryID').css("color", "white");
                            }
                            else {
                                 active2 = true;
                                $('#producFactoryID').css("background-color", "white");
                                $('#producFactoryID').css("color", "black");
                            }

                        }
                    });

                });

            }
            if (!active2 || !active2) {
                $('#gui').prop('disabled', true);
            }
            else {
                $('#gui').prop('disabled', false);
            }
        }

        setInterval(checkPD, 100);

    </script>
    <script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"> </script>
    <script src="https://cdn.datatables.net/1.10.12/js/dataTables.bootstrap.min.js"> </script>
    <script>
        $(document).ready(function () {
            $('#tableadd').dataTable({
                "aaSorting": [[0, "desc"]]
            });
        });
        $(document).ready(function () {
            $('#tableupdate').dataTable({
              
            });
            $('#tableadd').dataTable({
             
            });
        });
    </script>


</head>
<body>
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Kết quả cập nhật  <a class="btn btn-warning" href="/ProductDetail/"> Quay lại trang danh sách sản phẩm</a></h3>
            </div>
            <div class="title_right">
                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search for...">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">Go!</button>
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Danh sách sản phẩm vừa được thêm mới</h2>

                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">

                        <div>
                            @if (ViewData["TotalAdd"] != null)
                            {
                                <table id="tableadd" class="table table-striped" cellspacing="0" width="100%" data-sort-name="ID" data-sort-order="desc">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>SKU</th>
                                            <th>Mã nhà máy</th>
                                            <th>Giá</th>
                                            <th>Tên</th>


                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (tb_product_detail dt in (List<tb_product_detail>)ViewData["TotalAdd"])
                                        {
                                            <tr>
                                                <td>

                                                    <input type="hidden" id="@(dt.id+"ID")" value="@dt.id" />
                                                </td>
                                                <td>
                                                    <input type="text" id="@(dt.id+"SKU")" value="@dt.productStoreID" disabled="disabled" />
                                                </td>
                                                <td>
                                                    <input type="text" id="@(dt.id+"FAC")" value="@dt.producFactoryID" disabled="disabled" />
                                                </td>
                                                <td>
                                                    <input class="pricee" type="text" id="@(dt.id+"PRICE")" value="@(Convert.ToDecimal(dt.price).ToString("#,##0"))" disabled="disabled" />
                                                </td>
                                                <td>
                                                    <input type="text" id="@(dt.id+"NAME")" value="@dt.productName" disabled="disabled" />
                                                </td>



                                            </tr>
                                        }
                                    </tbody>

                                </table>
                            }
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Danh sách sản phẩm vừa được cập nhật</h2>
                        <div>
                            @if (ViewData["TotalUpdate"] != null)
                            {
                                <table id="tableupdate" class="table table-striped" cellspacing="0" width="100%" data-sort-name="ID" data-sort-order="desc">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>SKU</th>
                                            <th>Mã nhà máy</th>
                                            <th>Giá</th>
                                            <th>Tên</th>


                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (tb_product_detail dt in (List<tb_product_detail>)ViewData["TotalUpdate"])
                                        {
                                            <tr>
                                                <td>

                                                    <input type="hidden" id="@(dt.id+"ID")" value="@dt.id" />
                                                </td>
                                                <td>
                                                    <input type="text" id="@(dt.id+"SKU")" value="@dt.productStoreID" disabled="disabled" />
                                                </td>
                                                <td>
                                                    <input type="text" id="@(dt.id+"FAC")" value="@dt.producFactoryID" disabled="disabled" />
                                                </td>
                                                <td>
                                                    <input class="pricee" type="text" id="@(dt.id+"PRICE")" value="@(Convert.ToDecimal(dt.price).ToString("#,##0"))" disabled="disabled" />
                                                </td>
                                                <td>
                                                    <input type="text" id="@(dt.id+"NAME")" value="@dt.productName" disabled="disabled" />
                                                </td>



                                            </tr>
                                        }
                                    </tbody>

                                </table>
                            }
                        </div>
                        <div class="clearfix"></div>
                    </div>

                </div>
            </div>
        </div>
    </div>

   



</body>
</html>
