@using ThienNga2.Models.Entities
@{
    ViewBag.Title = "Home Page";
}
@if (!User.IsInRole("Admin"))
{
    <style>
        .right_col {
            font: normal 1em/1.45em "Helvetica Neue", Helvetica, Arial, sans-serif;
            -webkit-font-smoothing: antialiased;
            color: #fff !important;
            background: -webkit-radial-gradient(bottom ellipse, #1c2837 0%, #050608 100%) !important;
            background: radial-gradient(ellipse at bottom, #1c2837 0%, #050608 100%) !important;
            background-attachment: fixed !important;
            height: 100% !important;
        }





        code {
            color: #ae94c0;
            font-family: Menlo, Monaco, Consolas, 'Courier New', monospace;
            font-size: .9em;
        }

        @@import url(http://fonts.googleapis.com/css?family=Lato);


        .section {
            padding-top: 40px;
            font-size: 1em;
            text-align: center;
            background: #f1ede3;
            width: 100%;
            height: 800px;
            color: #555;
            -webkit-transition: background 0.5s ease-in-out;
            transition: background 0.5s ease-in-out;
        }

        .night .section {
            background: #080d17;
            color: #e9e5d5;
        }

        .night #intro-text {
            color: #e9e5d5;
        }

        .time-circle {
            position: relative;
            background: linear-gradient(to bottom, #BE4405, #F6C60C);
            width: 400px;
            height: 400px;
            border-radius: 50%;
            border: 4.5px solid #555;
            overflow: hidden;
            padding: 0px;
            margin: 0 auto;
            margin-bottom: 10px;
            box-shadow: 0 0 20px rgba(0,0,0,0.4);
            text-align: center;
            -webkit-transition: all 1.1s ease-in-out;
            transition: all 1.1s ease-in-out;
        }

        .night .time-circle {
            background: linear-gradient(to bottom, #111936, #285A7B);
            border-color: #e9e5d5;
        }

        .sun {
            margin-top: 20px;
            background: #F2EF88;
            box-shadow: 0 0 20px rgba(242, 239, 136, 0.4);
            width: 30%;
            height: 30%;
            border-radius: 50%;
            position: relative;
            left: 35%;
            top: 48%;
            -webkit-animation: pulse 5s ease infinite alternate;
            animation: pulse 5s ease infinite alternate;
            -webkit-transition: all 1.1s 0.4s ease;
            transition: all 1.1s 0.4s ease;
        }

        @@keyframes pulse {
            0% {
                box-shadow: 0 0 20px rgba(242, 239, 136, 0.4);
            }

            50% {
                box-shadow: 0 0 40px rgba(242, 239, 136, 1);
            }

            100% {
                box-shadow: 0 0 20px rgba(242, 239, 136, 0.4);
            }
        }

        @@-webkit-keyframes pulse {
            0% {
                box-shadow: 0 0 20px rgba(242, 239, 136, 0.4);
            }

            50% {
                box-shadow: 0 0 40px rgba(242, 239, 136, 1);
            }

            100% {
                box-shadow: 0 0 20px rgba(242, 239, 136, 0.4);
            }
        }

        .night .sun {
            top: 70%;
            left: 20%;
            -webkit-transition: all 1.1s 0s ease;
            transition: all 1.1s 0s ease;
        }

        .moon {
            position: absolute;
            margin-top: 20px;
            background: #d9d8d0;
            box-shadow: inset -10px 2px 0 0px #899098;
            width: 22.5%;
            height: 22.5%;
            border-radius: 100%;
            position: relative;
            left: 120%;
            margin-left: -50px;
            top: -50%;
            overflow: hidden;
            -webkit-transition: all 1.1s 0s ease;
            transition: all 1.1s 0s ease;
        }

        .night .moon {
            left: 65%;
            top: -10%;
            -webkit-transition: all 1.1s 0.4s ease;
            transition: all 1.1s 0.4s ease;
        }

        .moon div:nth-child(n) {
            position: relative;
            background: #b9b8b0;
            border-radius: 50%;
            box-shadow: inset 4px -2px 0 0px #535457;
        }

        .moon div:nth-child(1) {
            top: 25%;
            left: 12%;
            width: 27%;
            height: 27%;
        }

        .moon div:nth-child(2) {
            top: -11%;
            left: 60%;
            width: 16%;
            height: 16%;
        }

        .moon div:nth-child(3) {
            top: 25%;
            left: 44%;
            width: 16%;
            height: 16%;
        }

        .stars {
            opacity: 0;
            margin-left: 100px;
            top: 0;
            left: 0;
            -webkit-transition: all 0.8s 0s ease;
            transition: all 0.8s 0s ease;
            z-index: 1000;
        }

        .night .stars {
            opacity: 1;
            -webkit-transition: all 3s 0.4s ease;
            transition: all 3s 0.4s ease;
        }

        .stars div:nth-child(n) {
            position: absolute;
            background: radial-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
            border-radius: 50%;
            box-shadow: 0 0 10px rgba(255, 255, 255, 1);
            overflow: hidden;
            width: 0.4%;
            height: 0.4%;
            margin-left: 20%;
            margin-top: -20%;
            -webkit-transition: all 1s 0s ease;
            transition: all 1s 0s ease;
        }

        .night .stars div:nth-child(n) {
            margin-left: 0;
            margin-top: 0;
            -webkit-transition: all 1s 0.4s ease-out;
            transition: all 1s 0.4s ease-out;
        }

        .stars div:nth-child(1) {
            left: 25%;
            top: 30%;
        }

        .stars div:nth-child(2) {
            left: 55%;
            top: 20%;
        }

        .stars div:nth-child(3) {
            left: 60%;
            top: 60%;
        }

        .stars div:nth-child(4) {
            left: 40%;
            top: 45%;
        }

        .stars div:nth-child(5) {
            left: 15%;
            top: 55%;
        }

        .stars div:nth-child(6) {
            left: 40%;
            top: 10%;
        }

        .stars div:nth-child(7) {
            left: 80%;
            top: 55%;
        }

        .water {
            position: absolute;
            background: repeating-radial-gradient(ellipse farthest-corner at center -400%, #f5c30e 30%, #518eac 90%) repeat scroll 0 0 #518eac;
            width: 100%;
            height: 200px;
            top: 68%;
            -webkit-transition: all 1.1s ease;
            transition: all 1.1s ease;
        }

        .night .water {
            background: repeating-radial-gradient(ellipse farthest-corner at center -400%, #7fa1bb 30%, #1d425a 90%) repeat scroll 0 0 #1d425a;
        }

        #switch,
        #circle {
            height: 30px;
            -webkit-transition: all 0.4s cubic-bezier(0.54, 1.6, 0.5, 1);
            transition: all 0.4s cubic-bezier(0.54, 1.6, 0.5, 1);
        }

        #switch {
            width: 60px;
            margin: 0 auto;
            border: 2px solid #DA8508;
            border-radius: 27px;
            background: #DA8508;
            position: relative;
        }

        #circle {
            margin-top: 5%;
            margin-left: 5%;
            width: 40%;
            height: 80%;
            border-radius: 50%;
            box-shadow: 0 4px 4px rgba(26,53,71,0.25), 0 0 0 1px rgba(26,53,71,0.07);
            background: #e9e5d5;
        }

        .switched {
            border-color: #1C3958 !important;
            background: #1C3958 !important;
        }

            .switched #circle {
                margin-left: 55%;
                background: #e9e5d5;
            }
    </style> }

@if (User.IsInRole("Admin"))
{
    <div class="row tile_count">
        <div class="animated flipInY col-md-3 col-sm-4 col-xs-4 tile_stats_count">
            <div class="left"></div>
            <div class="right">
                <span class="count_top"><i class="fa fa-user"></i> Tổng số lượng khách</span>
                <div class="count">@ViewData["totalcustomer"]</div>
                @try
                {
                    if (((float)ViewData["customerincrease"]) < 0)
                    {
                        <span class="count_bottom"><i class="red"><i class="fa fa-sort-desc"></i>@ViewData["customerincrease"]% </i> so với tháng trước</span>

                    }
                    else
                    {
                        <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>@ViewData["customerincrease"]% </i> so với tháng trước</span>

                    }
                }
                catch (Exception e)
                {
                    <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>0% </i> so với tháng trước</span>

                }

            </div>
        </div>
        <div class="animated flipInY col-md-3 col-sm-4 col-xs-4 tile_stats_count">
            <div class="left"></div>
            <div class="right">
                <span class="count_top"><i class="fa fa-clock-o"></i> Tổng doanh thu tháng</span>
                <div class="count">@(((float)ViewData["Revenue"]).ToString("N0"))</div>
                @try
                {
                    if (((float)ViewData["RevenueIncrease"]) < 0)
                    {
                        <span class="count_bottom"><i class="red"><i class="fa fa-sort-desc"></i>@ViewData["RevenueIncrease"]% </i> so với tháng trước</span>

                    }
                    else
                    {
                        <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>@ViewData["chiphisuachuainc"]% </i> so với tháng trước</span>

                    }
                }
                catch (Exception e)
                {
                    <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>0% </i> so với tháng trước</span>

                }

            </div>
        </div>

        <div class="animated flipInY col-md-3 col-sm-4 col-xs-4 tile_stats_count">
            <div class="left"></div>
            <div class="right">
                <span class="count_top"><i class="fa fa-user"></i>Thiệt bị được bảo hành</span>
                <div class="count">@ViewData["SoSanPhamBaohanh"]</div>

                @try
                {
                    if (((float)ViewData["SoSanPhamBaohanhInc"]) < 0)
                    {
                        <span class="count_bottom"><i class="red"><i class="fa fa-sort-desc"></i>@ViewData["SoSanPhamBaohanhInc"]% </i> so với tháng trước</span>

                    }
                    else
                    {
                        <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>@ViewData["SoSanPhamBaohanhInc"]% </i> so với tháng trước</span>

                    }
                }
                catch (Exception e)
                {
                    <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>0% </i> so với tháng trước</span>

                }

            </div>
        </div>
        <div class="animated flipInY col-md-3 col-sm-4 col-xs-4 tile_stats_count">
            <div class="left"></div>
            <div class="right">
                <span class="count_top"><i class="fa fa-user"></i> Tổng chi phí sửa chữa </span>
                <div class="count">@ViewData["chiphisuachua"]</div>
                @try
                {
                    if ((ViewData["chiphisuachuainc"]) != null)
                    {
                        if ((float)ViewData["chiphisuachuainc"] > 0)
                        {
                            <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>@ViewData["chiphisuachuainc"]% </i> so với tháng trước</span>
                        }
                        else
                        {
                            <span class="count_bottom"><i class="red"><i class="fa fa-sort-desc"></i>@ViewData["chiphisuachuainc"]% </i> so với tháng trước</span>

                        }
                    }
                    else
                    {
                        <span class="count_bottom"><i class="red"><i class="fa fa-sort-desc"></i>@ViewData["chiphisuachuainc"]% </i> so với tháng trước</span>

                    }
                }
                catch (Exception e)
                {
                    <span class="count_bottom"><i class="red"><i class="fa fa-sort-desc"></i>0% </i> so với tháng trước</span>
                }

            </div>
        </div>
    </div>
                <!-- /top tiles -->
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="dashboard_graph">
                <div class="row x_title">
                    <div class="col-md-6">
                        <h3>Thống kê hoạt động <small><input disabled style="width:50px;background-color:rgba(38, 185, 154, 0.38)" />:Doanh Số  <input disabled style="width:50px;background-color:rgba(3, 88, 106, 0.38)" />:Sữa chữa</small></h3>
                    </div>
                    @*<div class="col-md-6">
                            <div id="reportrange" class="pull-right" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc">
                                <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
                                <span>December 30, 2014 - January 28, 2015</span> <b class="caret"></b>
                            </div>
                        </div>*@
                </div>
                <div class="col-md-12 col-sm-9 col-xs-12">
                    <div id="placeholder33" style="height: 260px; display: none" class="demo-placeholder"></div>
                    <div style="width: 100%;">
                        <div id="canvas_dahs" class="demo-placeholder" style="width: 100%; height:270px;"></div>
                    </div>
                </div>

                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <br />
    <div class="row">

        <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="x_panel tile fixed_height_320">
                <div class="x_title">
                    <h2>Sản phẩm bảo hành nhiều nhất</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    <a href="#">Settings 1</a>
                                </li>
                                <li>
                                    <a href="#">Settings 2</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <h4>Tính theo số lượng</h4>
                    @foreach (tb_product_detail sp in (List<tb_product_detail>)ViewData["top5fix"])
                    {
                        double totalfix = (int)ViewData["TotalFix"];
                        <div class="widget_summary">
                            <div class="w_left w_25">
                                <span>@sp.productStoreID</span>
                            </div>
                            <div class="w_center w_55">
                                <div class="progress">
                                    <div class="progress-bar bg-green" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: @(100*(sp.tb_warranty_activities.Count()/totalfix))%;">
                                    </div>
                                </div>
                            </div>
                            <div class="w_right w_20">
                                <span>@sp.tb_warranty_activities.Count()</span>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    }

                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="x_panel tile fixed_height_320 overflow_hidden">
                <div class="x_title">
                    <h2>Sản phẩm chạy nhất</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    <a href="#">Settings 1</a>
                                </li>
                                <li>
                                    <a href="#">Settings 2</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <table class="" style="width:100%">
                        <tr>
                            <th style="width:37%;">
                                <p>Top 5</p>
                            </th>
                            <th>
                                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                                    <p class="">SKU</p>
                                </div>
                                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                                    <p class="">Tỉ trọng</p>
                                </div>
                            </th>
                        </tr>
                        <tr>
                            <td>
                                <canvas id="canvas1" height="140" width="140" style="margin: 15px 10px 10px 0"></canvas>
                            </td>
                            <td>
                                <table class="tile_info">
                                    @foreach (topsell sp in (List<topsell>)ViewData["top5sell"])
                                    {
                                        DateTime now = DateTime.Now;
                                        int totalsell = (int)ViewData["totalsell"];
                                        <tr>
                                            <td>
                                                @if (sp.SKU.Equals("000000"))
                                                {
                                                    <p>Sản phẩm chưa lưu </p>
                                                }
                                                else
                                                {
                                                    <p>@sp.SKU </p>
                                                }

                                            </td>
                                            @if (totalsell != 0)
                                            {
                                                <td>@(100 * sp.itemsold / totalsell)%</td>
                                            }
                                            else
                                            {
                                                <td>0</td>
                                            }

                                        </tr>
                                    }

                                    <tr>
                                        <td>
                                            <p><i class="fa fa-square red"></i>Others </p>
                                        </td>
                                        @if ((int)ViewData["totalsell"] > 0)
                                        {
                                            int total = (int)ViewData["totalsell"];
                                            int rest = total - ((List<topsell>)ViewData["top5sell"]).Sum(u => u.itemsold);
                                            <td>@(100 * rest / total)%</td>
                                        }
                                        else
                                        {
                                            <td>0%</td>
                                        }
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="x_panel tile fixed_height_320">
                <div class="x_title">
                    <h2>Nhân viên kỹ thuật tích cực nhất</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    <a href="#">Settings 1</a>
                                </li>
                                <li>
                                    <a href="#">Settings 2</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">

                    <h4>Tính theo thiết bị chịu trách nhiệm</h4>
                    @foreach (AspNetUser user in (List<AspNetUser>)ViewData["top5active"])
                    {
                        int totaldiem = (int)ViewData["totaldiem"];
                        <div class="widget_summary">
                            <div class="w_left w_25">
                                <span>@user.FullName</span>
                            </div>
                            <div class="w_center w_55">
                                <div class="progress">
                                    <div class="progress-bar bg-green" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: @(100*user.tb_warranty_activities1.Count()/totaldiem)%;">
                                        <span class="sr-only">60% Complete</span>
                                    </div>
                                </div>
                            </div>
                            <div class="w_right w_20">
                                <span>@user.tb_warranty_activities1.Count()</span>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    <script>
        var data1 = [];
        var data2 = [];
        function gd(year, month, day) {
            return new Date(year, month - 1, day).getTime();
        }
    </script>
    for (int i = 1; i < 13; i++)
    {
        DateTime now = DateTime.Now;
        double sold = ((List<order>)ViewData["allorder"]).Where(u => u.date.Month == i && u.date.Year == now.Year).Sum(u => u.total);
        double fee = ((List<warrantyActivityFee>)ViewData["warrantyActivityFee"]).Where(u => u.tb_warranty_activities.startDate.Month == i && u.tb_warranty_activities.startDate.Year == now.Year).Sum(u => u.fixingfee);
        double fee2 = ((List<warrantyActivityFixingFee>)ViewData["warrantyActivityFixingFee"]).Where(u => u.tb_warranty_activities.startDate.Month == i && u.tb_warranty_activities.startDate.Year == now.Year).Sum(u => u.fee);
        double fee3 = fee + fee2;
        <script>
            data1.push([gd(@now.Year, @i, @i), @sold]);
            data2.push([gd(@now.Year, @i, @i), @fee3]);
        </script>
    }


    <script>
        $(document).ready(function () {
            // [17, 74, 6, 39, 20, 85, 7]
            //[82, 23, 66, 9, 99, 6, 2]



            $("#canvas_dahs").length && $.plot($("#canvas_dahs"), [
              data1, data2
            ], {
                series: {
                    lines: {
                        show: false,
                        fill: true
                    },
                    splines: {
                        show: true,
                        tension: 0.4,
                        lineWidth: 1,
                        fill: 0.4
                    },
                    points: {
                        radius: 0,
                        show: true
                    },
                    shadowSize: 2
                },
                grid: {
                    verticalLines: true,
                    hoverable: true,
                    clickable: true,
                    tickColor: "#d5d5d5",
                    borderWidth: 1,
                    color: '#fff'
                },
                colors: ["rgba(38, 185, 154, 0.38)", "rgba(3, 88, 106, 0.38)"],
                xaxis: {
                    tickColor: "rgba(51, 51, 51, 0.06)",
                    mode: "time",
                    tickSize: [1, "month"],
                    //tickLength: 10,
                    axisLabel: "Date",
                    axisLabelUseCanvas: true,
                    axisLabelFontSizePixels: 12,
                    axisLabelFontFamily: 'Verdana, Arial',
                    axisLabelPadding: 10,
                    mode: "time", timeformat: "%m/%y", minTickSize: [1, "month"]
                },
                yaxis: {
                    ticks: 8,
                    tickColor: "rgba(51, 51, 51, 0.06)",
                    labels: {
                        formatter: function () {
                            return Highcharts.numberFormat(this.value, 0,'','');
                        }
                    }
                },
                tooltip: false,

            });


        });
    </script>
    <script>
        var mlabels = [];
        var mdata = [];
    </script>
    foreach (topsell ts in (List<topsell>)ViewData["top5sell"])
    {
        if (ts.SKU.Contains("00000")) { ts.SKU = "Sản phẩm tạm"; }
        if ((int)ViewData["totalsell"] > 0)
        {
            <script>
                mlabels.push("@ts.SKU");
                mdata.push(@(100*ts.itemsold/(int)ViewData["totalsell"]));
            </script>
        }

    }
    if ((int)ViewData["totalsell"] > 0)
    {
        <script>
            mlabels.push("Others");
            mdata.push(@( 100 * ((int)ViewData["totalsell"] - ((List<topsell>)ViewData["top5sell"]).Sum(u => u.itemsold)) / (int)ViewData["totalsell"]));
        </script>
    }
    <script>
        Chart.defaults.global.legend = {
            enabled: false
        };

        var data = {
            labels: mlabels,
            datasets: [{
                data: mdata,
                backgroundColor: [
                  "#BDC3C7",
                  "#9B59B6",
                  "#455C73",
                  "#26B99A",
                  "#3498DB"
                ],
                hoverBackgroundColor: [
                  "#CFD4D8",
                  "#B370CF",
                  "#34495E",
                  "#36CAAB",
                  "#49A9EA"
                ]

            }]
        };

        var canvasDoughnut = new Chart(document.getElementById("canvas1"), {
            type: 'doughnut',
            tooltipFillColor: "rgba(51, 51, 51, 0.55)",
            data: data
        });
    </script>
    <script>
        function formatso(){
            Number.prototype.format = function(n, x) {
                var re = '\\d(?=(\\d{' + (x || 3) + '})+' + (n > 0 ? '\\.' : '$') + ')';
                return this.toFixed(Math.max(0, ~~n)).replace(new RegExp(re, 'g'), '$&,');
            };
            $(".tickLabel").each(function(){

                var value = parseInt($(this).text());
                $(this).text(value.format());
            })
        };
        window.setTimeout(formatso, 500);

    </script>
}
else
{


    <div id="fullpage" style="width:100%">
        <div class="section">
            <p id="info">Scroll down...</p>
            <div class="time-circle">
                <div class="sun"></div>
                <div class="moon">
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
                <div class="stars">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
                <div class="water"></div>
            </div>
            <div id="intro-text">
                <h1 href="#">Sáng/tối</h1>
            </div>
            <div id="switch">
                <div id="circle"></div>
            </div>
        </div>
    </div>

    <script>
        $("#switch").click(function () {
            if ($("#fullpage").hasClass("night")) {
                $("#fullpage").removeClass("night");
                $("#switch").removeClass("switched");
            }
            else {
                $("#fullpage").addClass("night");
                $("#switch").addClass("switched");

            }
        });
    </script>

}
