@using ThienNga2.Models.Entities
@{
    ViewBag.Title = "Home Page";
}
@if (!User.IsInRole("Admin"))
{
    <style>
        .right_col {
            font: normal 1em/1.45em "Helvetica Neue", Helvetica, Arial, sans-serif;
            -webkit-font-smoothing: antialiased;
            color: #fff !important;
            background: -webkit-radial-gradient(bottom ellipse, #1c2837 0%, #050608 100%) !important;
            background: radial-gradient(ellipse at bottom, #1c2837 0%, #050608 100%) !important;
            background-attachment: fixed !important;
            height: 100% !important;
        }





        code {
            color: #ae94c0;
            font-family: Menlo, Monaco, Consolas, 'Courier New', monospace;
            font-size: .9em;
        }

        .solar-syst {
            margin: 0 auto;
            width: 100%;
            height: 100%;
            position: relative;
        }

            .solar-syst:after {
                content: "";
                position: absolute;
                height: 2px;
                width: 2px;
                top: -2px;
                background: white;
                box-shadow: 327px 1111px 0 0px rgba(255, 255, 255, 0.092), 744px 1733px 0 0px rgba(255,255,255, 0.157), 435px 210px 0 0px rgba(255,255,255, 0.914), 525px 681px 0 0px rgba(255,255,255, 0.079), 955px 1137px 0 0px rgba(255,255,255, 0.64), 1538px 278px 0 0px rgba(255,255,255, 0.318), 306px 948px 0 0px rgba(255,255,255, 0.786), 1735px 1277px 0 0px rgba(255,255,255, 0.669), 1102px 278px 0 0px rgba(255,255,255, 0.621), 1336px 908px 0 0px rgba(255,255,255, 0.701), 1539px 833px 0 0px rgba(255,255,255, 0.603), 820px 1298px 0 0px rgba(255,255,255, 0.641), 1113px 992px 0 0px rgba(255,255,255, 0.692), 793px 403px 0 0px rgba(255,255,255, 0.066), 267px 1561px 0 0px rgba(255,255,255, 0.86), 1181px 365px 0 0px rgba(255,255,255, 0.826), 734px 1481px 0 0px rgba(255,255,255, 0.94), 940px 1485px 0 0px rgba(255,255,255, 0.779), 457px 385px 0 0px rgba(255,255,255, 0.849), 1487px 1057px 0 0px rgba(255,255,255, 0.963), 958px 335px 0 0px rgba(255,255,255, 0.256), 238px 906px 0 0px rgba(255,255,255, 0.509), 1491px 1173px 0 0px rgba(255,255,255, 0.014), 219px 11px 0 0px rgba(255,255,255, 0.506), 1247px 1317px 0 0px rgba(255,255,255, 0.247), 528px 969px 0 0px rgba(255,255,255, 0.647), 1656px 568px 0 0px rgba(255,255,255, 0.436), 1191px 712px 0 0px rgba(255,255,255, 0.436), 928px 821px 0 0px rgba(255,255,255, 0.211), 445px 897px 0 0px rgba(255,255,255, 0.992), 379px 101px 0 0px rgba(255,255,255, 0.077), 556px 978px 0 0px rgba(255,255,255, 0.217), 1505px 1093px 0 0px rgba(255,255,255, 0.561), 1775px 242px 0 0px rgba(255,255,255, 0.49), 922px 1056px 0 0px rgba(255,255,255, 0.241), 1382px 786px 0 0px rgba(255,255,255, 0.422), 1107px 1630px 0 0px rgba(255,255,255, 0.92), 709px 495px 0 0px rgba(255,255,255, 0.999), 1584px 1446px 0 0px rgba(255,255,255, 0.118), 607px 1737px 0 0px rgba(255,255,255, 0.876), 450px 532px 0 0px rgba(255,255,255, 0.024), 901px 937px 0 0px rgba(255,255,255, 0.345), 500px 1393px 0 0px rgba(255,255,255, 0.089), 884px 589px 0 0px rgba(255,255,255, 0.333), 196px 67px 0 0px rgba(255,255,255, 0.736), 896px 1284px 0 0px rgba(255,255,255, 0.039), 111px 70px 0 0px rgba(255,255,255, 0.237), 793px 7px 0 0px rgba(255,255,255, 0.677), 1451px 336px 0 0px rgba(255,255,255, 0.764), 1150px 1365px 0 0px rgba(255,255,255, 0.28), 1174px 231px 0 0px rgba(255,255,255, 0.867), 433px 1428px 0 0px rgba(255,255,255, 0.11), 875px 1247px 0 0px rgba(255,255,255, 0.054), 283px 426px 0 0px rgba(255,255,255, 0.74), 967px 1014px 0 0px rgba(255,255,255, 0.268), 1043px 1415px 0 0px rgba(255,255,255, 0.726), 689px 563px 0 0px rgba(255,255,255, 0.957), 62px 1379px 0 0px rgba(255,255,255, 0.06), 1676px 971px 0 0px rgba(255,255,255, 0.739), 734px 1512px 0 0px rgba(255,255,255, 0.891), 275px 602px 0 0px rgba(255,255,255, 0.199), 1249px 1472px 0 0px rgba(255,255,255, 0.272), 1039px 161px 0 0px rgba(255,255,255, 0.475), 1520px 1481px 0 0px rgba(255,255,255, 0.712), 1306px 618px 0 0px rgba(255,255,255, 0.042), 1057px 876px 0 0px rgba(255,255,255, 0.213), 534px 1024px 0 0px rgba(255,255,255, 0.606), 655px 927px 0 0px rgba(255,255,255, 0.306), 1081px 755px 0 0px rgba(255,255,255, 0.239), 1061px 1434px 0 0px rgba(255,255,255, 0.196), 826px 169px 0 0px rgba(255,255,255, 0.317), 418px 1558px 0 0px rgba(255,255,255, 0.128), 940px 1690px 0 0px rgba(255,255,255, 0.932), 1162px 932px 0 0px rgba(255,255,255, 0.894), 1747px 228px 0 0px rgba(255,255,255, 0.559), 1555px 1333px 0 0px rgba(255,255,255, 1), 224px 701px 0 0px rgba(255,255,255, 0.969), 1270px 132px 0 0px rgba(255,255,255, 0.979), 293px 776px 0 0px rgba(255,255,255, 0.345), 1012px 731px 0 0px rgba(255,255,255, 0.662), 533px 804px 0 0px rgba(255,255,255, 0.022), 130px 400px 0 0px rgba(255,255,255, 0.743), 1315px 697px 0 0px rgba(255,255,255, 0.862), 1698px 609px 0 0px rgba(255,255,255, 0.305), 1305px 1122px 0 0px rgba(255,255,255, 0.08), 934px 729px 0 0px rgba(255,255,255, 0.496), 230px 945px 0 0px rgba(255,255,255, 0.668), 990px 1469px 0 0px rgba(255,255,255, 0.162), 1308px 1713px 0 0px rgba(255,255,255, 0.698), 124px 1255px 0 0px rgba(255,255,255, 0.086), 1029px 894px 0 0px rgba(255,255,255, 0.845), 871px 696px 0 0px rgba(255,255,255, 0.033), 476px 896px 0 0px rgba(255,255,255, 0.455), 1422px 405px 0 0px rgba(255,255,255, 0.518), 1321px 721px 0 0px rgba(255,255,255, 0.883), 1414px 725px 0 0px rgba(255,255,255, 0.373), 730px 1335px 0 0px rgba(255,255,255, 0.087), 1671px 830px 0 0px rgba(255,255,255, 0.149), 1564px 673px 0 0px rgba(255,255,255, 0.325), 1177px 498px 0 0px rgba(255,255,255, 0.834), 508px 1050px 0 0px rgba(255,255,255, 0.339), 446px 814px 0 0px rgba(255,255,255, 0.414), 205px 1681px 0 0px rgba(255,255,255, 0.367), 1467px 1276px 0 0px rgba(255,255,255, 0.742), 1223px 526px 0 0px rgba(255,255,255, 0.511), 955px 126px 0 0px rgba(255,255,255, 0.689), 1350px 423px 0 0px rgba(255,255,255, 0.369), 543px 827px 0 0px rgba(255,255,255, 0.88), 1313px 90px 0 0px rgba(255,255,255, 0.877), 1110px 1217px 0 0px rgba(255,255,255, 0.437), 1511px 54px 0 0px rgba(255,255,255, 0.394), 1236px 1681px 0 0px rgba(255,255,255, 0.43), 328px 429px 0 0px rgba(255,255,255, 0.678), 849px 1370px 0 0px rgba(255,255,255, 0.184), 766px 1454px 0 0px rgba(255,255,255, 0.241), 395px 1649px 0 0px rgba(255,255,255, 0.355), 1184px 914px 0 0px rgba(255,255,255, 0.732), 1245px 626px 0 0px rgba(255,255,255, 0.008), 45px 1569px 0 0px rgba(255,255,255, 0.784), 963px 1774px 0 0px rgba(255,255,255, 0.517), 1150px 864px 0 0px rgba(255,255,255, 0.413), 605px 1256px 0 0px rgba(255,255,255, 0.222), 293px 1353px 0 0px rgba(255,255,255, 0.282), 964px 1758px 0 0px rgba(255,255,255, 0.795), 408px 1651px 0 0px rgba(255,255,255, 0.067), 488px 748px 0 0px rgba(255,255,255, 0.417), 1118px 340px 0 0px rgba(255,255,255, 0.837), 1358px 1008px 0 0px rgba(255,255,255, 0.749), 1555px 1422px 0 0px rgba(255,255,255, 0.087), 664px 913px 0 0px rgba(255,255,255, 0.311), 1024px 521px 0 0px rgba(255,255,255, 0.857), 1333px 1662px 0 0px rgba(255,255,255, 0.347), 18px 441px 0 0px rgba(255,255,255, 0.999), 162px 1353px 0 0px rgba(255,255,255, 0.677), 1039px 435px 0 0px rgba(255,255,255, 0.171), 866px 1773px 0 0px rgba(255,255,255, 0.052), 141px 85px 0 0px rgba(255,255,255, 0.622), 732px 474px 0 0px rgba(255,255,255, 0.584), 860px 134px 0 0px rgba(255,255,255, 0.264), 1227px 317px 0 0px rgba(255,255,255, 0.754), 846px 582px 0 0px rgba(255,255,255, 0.321), 986px 1442px 0 0px rgba(255,255,255, 0.271), 1406px 468px 0 0px rgba(255,255,255, 0.435), 1418px 31px 0 0px rgba(255,255,255, 0.385), 905px 367px 0 0px rgba(255,255,255, 0.491), 667px 1792px 0 0px rgba(255,255,255, 0.995), 137px 1175px 0 0px rgba(255,255,255, 0.871), 1562px 305px 0 0px rgba(255,255,255, 0.721), 727px 1684px 0 0px rgba(255,255,255, 0.433), 355px 168px 0 0px rgba(255,255,255, 0.412), 775px 636px 0 0px rgba(255,255,255, 0.021), 275px 673px 0 0px rgba(255,255,255, 0.267), 285px 231px 0 0px rgba(255,255,255, 0.378), 367px 1635px 0 0px rgba(255,255,255, 0.938), 520px 505px 0 0px rgba(255,255,255, 0.352), 150px 1644px 0 0px rgba(255,255,255, 0.509), 40px 1731px 0 0px rgba(255,255,255, 0.884), 1702px 1029px 0 0px rgba(255,255,255, 0.446), 1273px 1751px 0 0px rgba(255,255,255, 0.36), 1257px 1604px 0 0px rgba(255,255,255, 0.329), 124px 1787px 0 0px rgba(255,255,255, 0.763), 1523px 234px 0 0px rgba(255,255,255, 0.44), 1447px 1307px 0 0px rgba(255,255,255, 0.654), 610px 69px 0 0px rgba(255,255,255, 0.776), 1433px 743px 0 0px rgba(255,255,255, 0.509), 338px 1600px 0 0px rgba(255,255,255, 0.706), 1350px 36px 0 0px rgba(255,255,255, 0.531), 1555px 298px 0 0px rgba(255,255,255, 0.311), 1750px 398px 0 0px rgba(255,255,255, 0.988), 328px 1106px 0 0px rgba(255,255,255, 0.402), 751px 1793px 0 0px rgba(255,255,255, 0.068), 1247px 1386px 0 0px rgba(255,255,255, 0.788), 1320px 666px 0 0px rgba(255,255,255, 0.222), 1557px 446px 0 0px rgba(255,255,255, 0.186), 656px 267px 0 0px rgba(255,255,255, 0.411), 1706px 1617px 0 0px rgba(255,255,255, 0.325), 589px 1531px 0 0px rgba(255,255,255, 0.034), 346px 258px 0 0px rgba(255,255,255, 0.067), 81px 1008px 0 0px rgba(255,255,255, 0.972), 848px 1346px 0 0px rgba(255,255,255, 0.769), 134px 152px 0 0px rgba(255,255,255, 0.259), 233px 266px 0 0px rgba(255,255,255, 0.19), 1223px 1583px 0 0px rgba(255,255,255, 0.286), 1366px 164px 0 0px rgba(255,255,255, 0.098), 161px 1485px 0 0px rgba(255,255,255, 0.215), 296px 1411px 0 0px rgba(255,255,255, 0.073), 1330px 1713px 0 0px rgba(255,255,255, 0.349), 1625px 263px 0 0px rgba(255,255,255, 0.928), 214px 176px 0 0px rgba(255,255,255, 0.132), 931px 1240px 0 0px rgba(255,255,255, 0.205), 1418px 1488px 0 0px rgba(255,255,255, 0.013), 701px 1503px 0 0px rgba(255,255,255, 0.243), 1212px 1596px 0 0px rgba(255,255,255, 0.104), 144px 127px 0 0px rgba(255,255,255, 0.287), 1613px 1185px 0 0px rgba(255,255,255, 0.959), 1621px 1785px 0 0px rgba(255,255,255, 0.774), 364px 634px 0 0px rgba(255,255,255, 0.392), 590px 1187px 0 0px rgba(255,255,255, 0.783), 1140px 876px 0 0px rgba(255,255,255, 0.465), 1332px 672px 0 0px rgba(255,255,255, 0.395), 1023px 1205px 0 0px rgba(255,255,255, 0.789), 748px 1585px 0 0px rgba(255,255,255, 0.27), 1275px 530px 0 0px rgba(255,255,255, 0.387), 1303px 451px 0 0px rgba(255,255,255, 0.573), 210px 1564px 0 0px rgba(255,255,255, 0.563), 107px 967px 0 0px rgba(255,255,255, 0.96), 30px 271px 0 0px rgba(255,255,255, 0.864), 1535px 1800px 0 0px rgba(255,255,255, 0.755), 359px 1377px 0 0px rgba(255,255,255, 0.689), 1131px 682px 0 0px rgba(255,255,255, 0.885), 913px 402px 0 0px rgba(255,255,255, 0.28), 3px 420px 0 0px rgba(255,255,255, 0.339), 713px 1037px 0 0px rgba(255,255,255, 0.065), 1108px 424px 0 0px rgba(255,255,255, 0.602), 1057px 1258px 0 0px rgba(255,255,255, 0.816), 267px 1601px 0 0px rgba(255,255,255, 0.351), 829px 234px 0 0px rgba(255,255,255, 0.54), 1188px 1214px 0 0px rgba(255,255,255, 0.192), 1145px 930px 0 0px rgba(255,255,255, 0.694), 964px 1754px 0 0px rgba(255,255,255, 0.655), 991px 965px 0 0px rgba(255,255,255, 0.989), 704px 1553px 0 0px rgba(255,255,255, 0.78), 172px 815px 0 0px rgba(255,255,255, 0.889), 773px 1201px 0 0px rgba(255,255,255, 0.133), 456px 179px 0 0px rgba(255,255,255, 0.744), 108px 1023px 0 0px rgba(255,255,255, 0.661), 488px 380px 0 0px rgba(255,255,255, 0.307), 1458px 1571px 0 0px rgba(255,255,255, 0.891), 1354px 264px 0 0px rgba(255,255,255, 0.085), 569px 445px 0 0px rgba(255,255,255, 0.472), 1229px 1223px 0 0px rgba(255,255,255, 0.225), 781px 552px 0 0px rgba(255,255,255, 0.813), 1708px 1149px 0 0px rgba(255,255,255, 0.298), 685px 1772px 0 0px rgba(255,255,255, 0.818), 319px 609px 0 0px rgba(255,255,255, 0.802), 501px 125px 0 0px rgba(255,255,255, 0.016), 1031px 568px 0 0px rgba(255,255,255, 0.228), 871px 150px 0 0px rgba(255,255,255, 0.611), 1253px 1705px 0 0px rgba(255,255,255, 0.959), 657px 605px 0 0px rgba(255,255,255, 0.525), 66px 1616px 0 0px rgba(255,255,255, 0.266), 912px 1636px 0 0px rgba(255,255,255, 0.513), 453px 1623px 0 0px rgba(255,255,255, 0.087), 133px 257px 0 0px rgba(255,255,255, 0.694), 843px 550px 0 0px rgba(255,255,255, 0.4), 258px 37px 0 0px rgba(255,255,255, 0.096), 1086px 10px 0 0px rgba(255,255,255, 0.977), 1157px 419px 0 0px rgba(255,255,255, 0.249), 1277px 878px 0 0px rgba(255,255,255, 0.092), 1500px 565px 0 0px rgba(255,255,255, 0.283), 556px 961px 0 0px rgba(255,255,255, 0.985), 550px 1755px 0 0px rgba(255,255,255, 0.48), 1281px 736px 0 0px rgba(255,255,255, 0.239), 678px 724px 0 0px rgba(255,255,255, 0.838), 1371px 1435px 0 0px rgba(255,255,255, 0.737), 1009px 1236px 0 0px rgba(255,255,255, 0.189), 309px 339px 0 0px rgba(255,255,255, 0.775), 215px 775px 0 0px rgba(255,255,255, 0.72), 895px 1511px 0 0px rgba(255,255,255, 0.666), 469px 1428px 0 0px rgba(255,255,255, 0.032), 925px 916px 0 0px rgba(255,255,255, 0.641), 1545px 1056px 0 0px rgba(255,255,255, 0.924), 1461px 861px 0 0px rgba(255,255,255, 0.064), 325px 1750px 0 0px rgba(255,255,255, 0.452), 1325px 1235px 0 0px rgba(255,255,255, 0.135), 1310px 930px 0 0px rgba(255,255,255, 0.327), 1011px 1610px 0 0px rgba(255,255,255, 0.116), 1742px 1280px 0 0px rgba(255,255,255, 0.929), 1380px 386px 0 0px rgba(255,255,255, 0.757), 132px 1541px 0 0px rgba(255,255,255, 0.959), 923px 1410px 0 0px rgba(255,255,255, 0.964), 649px 955px 0 0px rgba(255,255,255, 0.218), 691px 537px 0 0px rgba(255,255,255, 0.669), 1371px 1597px 0 0px rgba(255,255,255, 0.844), 237px 533px 0 0px rgba(255,255,255, 0.574), 1603px 282px 0 0px rgba(255,255,255, 0.422), 1398px 1297px 0 0px rgba(255,255,255, 0.808), 1063px 708px 0 0px rgba(255,255,255, 0.386), 613px 1029px 0 0px rgba(255,255,255, 0.343), 268px 863px 0 0px rgba(255,255,255, 0.65), 1428px 626px 0 0px rgba(255,255,255, 0.293), 1282px 938px 0 0px rgba(255,255,255, 0.163), 804px 979px 0 0px rgba(255,255,255, 0.517), 881px 637px 0 0px rgba(255,255,255, 0.075), 1095px 1389px 0 0px rgba(255,255,255, 0.078), 668px 385px 0 0px rgba(255,255,255, 0.239), 1628px 1298px 0 0px rgba(255,255,255, 0.928), 444px 32px 0 0px rgba(255,255,255, 0.695), 853px 1533px 0 0px rgba(255,255,255, 0.248), 843px 1567px 0 0px rgba(255,255,255, 0.634), 1691px 397px 0 0px rgba(255,255,255, 0.895), 503px 1166px 0 0px rgba(255,255,255, 0.605), 621px 1741px 0 0px rgba(255,255,255, 0.872), 60px 1750px 0 0px rgba(255,255,255, 0.839), 642px 1709px 0 0px rgba(255,255,255, 0.99), 1252px 276px 0 0px rgba(255,255,255, 0.893), 1536px 811px 0 0px rgba(255,255,255, 0.013), 1799px 1235px 0 0px rgba(255,255,255, 0.944), 207px 1007px 0 0px rgba(255,255,255, 0.576), 826px 1547px 0 0px rgba(255,255,255, 0.008), 607px 1757px 0 0px rgba(255,255,255, 0.5), 869px 722px 0 0px rgba(255,255,255, 0.163), 1017px 1661px 0 0px rgba(255,255,255, 0.581), 1597px 1760px 0 0px rgba(255,255,255, 0.118), 188px 487px 0 0px rgba(255,255,255, 0.934), 1691px 565px 0 0px rgba(255,255,255, 0.491), 27px 581px 0 0px rgba(255,255,255, 0.017), 1076px 1359px 0 0px rgba(255,255,255, 0.875), 1800px 1044px 0 0px rgba(255,255,255, 0.435), 1471px 377px 0 0px rgba(255,255,255, 0.934), 1786px 204px 0 0px rgba(255,255,255, 0.206), 709px 143px 0 0px rgba(255,255,255, 0.465), 1252px 1334px 0 0px rgba(255,255,255, 0.863), 607px 860px 0 0px rgba(255,255,255, 0.378), 1416px 597px 0 0px rgba(255,255,255, 0.808), 907px 460px 0 0px rgba(255,255,255, 0.886), 1370px 1025px 0 0px rgba(255,255,255, 0.283), 493px 811px 0 0px rgba(255,255,255, 0.083), 1464px 1273px 0 0px rgba(255,255,255, 0.534), 1380px 350px 0 0px rgba(255,255,255, 0.389), 1663px 300px 0 0px rgba(255,255,255, 0.71), 52px 1252px 0 0px rgba(255,255,255, 0.13), 1062px 977px 0 0px rgba(255,255,255, 0.691), 143px 480px 0 0px rgba(255,255,255, 0.038), 730px 1612px 0 0px rgba(255,255,255, 0.941), 867px 1655px 0 0px rgba(255,255,255, 0.713), 876px 1434px 0 0px rgba(255,255,255, 0.526), 411px 224px 0 0px rgba(255,255,255, 0.293), 287px 1367px 0 0px rgba(255,255,255, 0.689), 677px 801px 0 0px rgba(255,255,255, 0.985), 1120px 1224px 0 0px rgba(255,255,255, 0.499), 961px 1070px 0 0px rgba(255,255,255, 0.528), 1644px 1498px 0 0px rgba(255,255,255, 0.402), 821px 76px 0 0px rgba(255,255,255, 0.946), 1714px 1074px 0 0px rgba(255,255,255, 0.631), 143px 908px 0 0px rgba(255,255,255, 0.408), 531px 826px 0 0px rgba(255,255,255, 0.74), 1069px 1404px 0 0px rgba(255,255,255, 0.307), 912px 652px 0 0px rgba(255,255,255, 0.173), 375px 1794px 0 0px rgba(255,255,255, 0.545), 432px 534px 0 0px rgba(255,255,255, 0.741), 450px 204px 0 0px rgba(255,255,255, 0.397), 1651px 1349px 0 0px rgba(255,255,255, 0.926), 359px 753px 0 0px rgba(255,255,255, 0.722), 846px 2px 0 0px rgba(255,255,255, 0.886), 74px 152px 0 0px rgba(255,255,255, 0.591), 1650px 398px 0 0px rgba(255,255,255, 0.006), 1101px 1516px 0 0px rgba(255,255,255, 0.96), 139px 504px 0 0px rgba(255,255,255, 0.678), 915px 547px 0 0px rgba(255,255,255, 0.54), 80px 1227px 0 0px rgba(255,255,255, 0.35), 203px 1640px 0 0px rgba(255,255,255, 0.493), 967px 993px 0 0px rgba(255,255,255, 0.993), 624px 574px 0 0px rgba(255,255,255, 0.708), 1734px 551px 0 0px rgba(255,255,255, 0.871), 992px 1281px 0 0px rgba(255,255,255, 0.393), 683px 1052px 0 0px rgba(255,255,255, 0.401), 600px 534px 0 0px rgba(255,255,255, 0.645), 1342px 856px 0 0px rgba(255,255,255, 0.468), 1324px 183px 0 0px rgba(255,255,255, 0.186), 886px 657px 0 0px rgba(255,255,255, 0.607), 371px 1359px 0 0px rgba(255,255,255, 0.48), 1641px 283px 0 0px rgba(255,255,255, 0.941), 1221px 720px 0 0px rgba(255,255,255, 0.785), 1157px 239px 0 0px rgba(255,255,255, 0.713), 1196px 1668px 0 0px rgba(255,255,255, 0.653), 1249px 1627px 0 0px rgba(255,255,255, 0.054), 1113px 45px 0 0px rgba(255,255,255, 0.95), 1023px 1755px 0 0px rgba(255,255,255, 0.601), 677px 424px 0 0px rgba(255,255,255, 0.316), 1030px 635px 0 0px rgba(255,255,255, 0.062), 265px 1097px 0 0px rgba(255,255,255, 0.264), 1482px 258px 0 0px rgba(255,255,255, 0.393), 829px 419px 0 0px rgba(255,255,255, 0.791), 1025px 1231px 0 0px rgba(255,255,255, 0.801), 1226px 851px 0 0px rgba(255,255,255, 0.125), 1797px 297px 0 0px rgba(255,255,255, 0.406), 1347px 565px 0 0px rgba(255,255,255, 0.839), 1554px 162px 0 0px rgba(255,255,255, 0.276), 1753px 938px 0 0px rgba(255,255,255, 0.308), 1408px 334px 0 0px rgba(255,255,255, 0.747), 932px 706px 0 0px rgba(255,255,255, 0.239), 362px 1433px 0 0px rgba(255,255,255, 0.709), 1420px 567px 0 0px rgba(255,255,255, 0.775), 1418px 1782px 0 0px rgba(255,255,255, 0.161), 747px 760px 0 0px rgba(255,255,255, 0.683), 804px 1776px 0 0px rgba(255,255,255, 0.233), 1343px 1004px 0 0px rgba(255,255,255, 0.98), 21px 1210px 0 0px rgba(255,255,255, 0.151), 539px 315px 0 0px rgba(255,255,255, 0.734), 745px 364px 0 0px rgba(255,255,255, 0.72), 407px 557px 0 0px rgba(255,255,255, 0.393), 1005px 648px 0 0px rgba(255,255,255, 0.496), 631px 895px 0 0px rgba(255,255,255, 0.319), 866px 636px 0 0px rgba(255,255,255, 0.551), 990px 1685px 0 0px rgba(255,255,255, 0.843), 1729px 1119px 0 0px rgba(255,255,255, 0.356), 565px 1371px 0 0px rgba(255,255,255, 0.441), 559px 359px 0 0px rgba(255,255,255, 0.742), 577px 951px 0 0px rgba(255,255,255, 0.177), 487px 1058px 0 0px rgba(255,255,255, 0.049), 732px 37px 0 0px rgba(255,255,255, 0.226), 412px 884px 0 0px rgba(255,255,255, 0.748), 1780px 1177px 0 0px rgba(255,255,255, 0.133), 766px 1769px 0 0px rgba(255,255,255, 0.037), 1398px 1561px 0 0px rgba(255,255,255, 0.079), 1579px 367px 0 0px rgba(255,255,255, 0.843), 897px 769px 0 0px rgba(255,255,255, 0.899), 415px 1197px 0 0px rgba(255,255,255, 0.467), 823px 1718px 0 0px rgba(255,255,255, 0.374), 800px 922px 0 0px rgba(255,255,255, 0.216), 414px 1599px 0 0px rgba(255,255,255, 0.905), 730px 322px 0 0px rgba(255,255,255, 0.149), 1006px 136px 0 0px rgba(255,255,255, 0.391), 1468px 1278px 0 0px rgba(255,255,255, 0.913), 1509px 319px 0 0px rgba(255,255,255, 0.42), 1778px 710px 0 0px rgba(255,255,255, 0.931), 634px 1334px 0 0px rgba(255,255,255, 0.464), 1683px 482px 0 0px rgba(255,255,255, 0.802), 1514px 20px 0 0px rgba(255,255,255, 0.464), 1323px 1177px 0 0px rgba(255,255,255, 0.076), 554px 890px 0 0px rgba(255,255,255, 0.707), 126px 142px 0 0px rgba(255,255,255, 0.927), 800px 542px 0 0px rgba(255,255,255, 0.506), 1112px 290px 0 0px rgba(255,255,255, 0.778), 1077px 1531px 0 0px rgba(255,255,255, 0.604), 1412px 668px 0 0px rgba(255,255,255, 0.749), 1315px 1408px 0 0px rgba(255,255,255, 0.498), 1783px 1628px 0 0px rgba(255,255,255, 0.172), 54px 1304px 0 0px rgba(255,255,255, 0.186), 1374px 1207px 0 0px rgba(255,255,255, 0.615), 997px 1589px 0 0px rgba(255,255,255, 0.541), 1627px 233px 0 0px rgba(255,255,255, 0.056), 1572px 1172px 0 0px rgba(255,255,255, 0.844), 1100px 749px 0 0px rgba(255,255,255, 0.458), 1448px 17px 0 0px rgba(255,255,255, 0.47), 700px 392px 0 0px rgba(255,255,255, 0.835), 942px 702px 0 0px rgba(255,255,255, 0.566), 104px 537px 0 0px rgba(255,255,255, 0.026), 1237px 1766px 0 0px rgba(255,255,255, 0.282), 847px 1542px 0 0px rgba(255,255,255, 0.04), 673px 1377px 0 0px rgba(255,255,255, 0.872), 1224px 1580px 0 0px rgba(255,255,255, 0.466), 436px 1474px 0 0px rgba(255,255,255, 0.283), 706px 285px 0 0px rgba(255,255,255, 0.168), 1740px 402px 0 0px rgba(255,255,255, 0.777), 223px 1040px 0 0px rgba(255,255,255, 0.811), 818px 1769px 0 0px rgba(255,255,255, 0.214), 1078px 947px 0 0px rgba(255,255,255, 0.176), 1332px 410px 0 0px rgba(255,255,255, 0.143), 1773px 1527px 0 0px rgba(255,255,255, 0.888), 1151px 318px 0 0px rgba(255,255,255, 0.905), 1040px 793px 0 0px rgba(255,255,255, 0.274), 45px 1154px 0 0px rgba(255,255,255, 0.77), 668px 1568px 0 0px rgba(255,255,255, 0.848), 1696px 1410px 0 0px rgba(255,255,255, 0.522), 1402px 381px 0 0px rgba(255,255,255, 0.264), 1267px 381px 0 0px rgba(255,255,255, 0.971), 1764px 24px 0 0px rgba(255,255,255, 0.533), 113px 116px 0 0px rgba(255,255,255, 0.224), 1456px 1128px 0 0px rgba(255,255,255, 0.841), 420px 508px 0 0px rgba(255,255,255, 0.366), 1149px 573px 0 0px rgba(255,255,255, 0.824), 553px 1354px 0 0px rgba(255,255,255, 0.164), 1708px 1234px 0 0px rgba(255,255,255, 0.217), 473px 1386px 0 0px rgba(255,255,255, 0.677), 1093px 867px 0 0px rgba(255,255,255, 0.927), 182px 330px 0 0px rgba(255,255,255, 0.171), 820px 514px 0 0px rgba(255,255,255, 0.424), 4px 540px 0 0px rgba(255,255,255, 0.012), 380px 1615px 0 0px rgba(255,255,255, 0.498), 1036px 658px 0 0px rgba(255,255,255, 0.919), 71px 877px 0 0px rgba(255,255,255, 0.653), 1559px 957px 0 0px rgba(255,255,255, 0.003), 334px 1638px 0 0px rgba(255,255,255, 0.039), 1142px 664px 0 0px rgba(255,255,255, 0.931), 1439px 1202px 0 0px rgba(255,255,255, 0.412), 1487px 1491px 0 0px rgba(255,255,255, 0.586), 1789px 529px 0 0px rgba(255,255,255, 0.9), 964px 1436px 0 0px rgba(255,255,255, 0.535), 344px 1393px 0 0px rgba(255,255,255, 0.869), 739px 1409px 0 0px rgba(255,255,255, 0.091), 667px 1443px 0 0px rgba(255,255,255, 0.168), 1383px 1158px 0 0px rgba(255,255,255, 0.293), 1212px 1352px 0 0px rgba(255,255,255, 0.04), 729px 1659px 0 0px rgba(255,255,255, 0.526), 189px 513px 0 0px rgba(255,255,255, 0.187), 102px 1110px 0 0px rgba(255,255,255, 0.88), 1493px 577px 0 0px rgba(255,255,255, 0.53), 76px 1049px 0 0px rgba(255,255,255, 0.643), 794px 930px 0 0px rgba(255,255,255, 0.209), 205px 812px 0 0px rgba(255,255,255, 0.116), 663px 1251px 0 0px rgba(255,255,255, 0.905), 240px 910px 0 0px rgba(255,255,255, 0.001), 2px 424px 0 0px rgba(255,255,255, 0.318), 1315px 207px 0 0px rgba(255,255,255, 0.149), 1069px 1495px 0 0px rgba(255,255,255, 0.285), 576px 235px 0 0px rgba(255,255,255, 0.006), 695px 715px 0 0px rgba(255,255,255, 0.518), 1605px 1711px 0 0px rgba(255,255,255, 0.942);
                border-radius: 100px;
            }

            .solar-syst div {
                border-radius: 1000px;
                top: 50%;
                left: 50%;
                position: absolute;
                z-index: 10;
            }

                .solar-syst div:not(.sun) {
                    border: 1px solid rgba(102, 166, 229, 0.12);
                }

                    .solar-syst div:not(.sun):before {
                        left: 50%;
                        border-radius: 100px;
                        content: "";
                        position: absolute;
                    }

                .solar-syst div:not(.asteroids-belt):before {
                    box-shadow: inset 0 6px 0 -2px rgba(0, 0, 0, 0.25);
                }

        .sun {
            background: -webkit-radial-gradient(center ellipse, #ffd000 1%, #f9b700 39%, #f9b700 39%, #e06317 100%);
            background: radial-gradient(ellipse at center, #ffd000 1%, #f9b700 39%, #f9b700 39%, #e06317 100%);
            height: 40px;
            width: 40px;
            margin-top: -20px;
            margin-left: -20px;
            background-clip: padding-box;
            border: 0 !important;
            background-position: -28px -103px;
            background-size: 175%;
            box-shadow: 0 0 10px 2px rgba(255, 107, 0, 0.4), 0 0 22px 11px rgba(255, 203, 0, 0.13);
        }

        .mercury {
            height: 70px;
            width: 70px;
            margin-top: -35px;
            margin-left: -35px;
            -webkit-animation: orb 7.18673s linear infinite;
            animation: orb 7.18673s linear infinite;
        }

            .mercury:before {
                height: 4px;
                width: 4px;
                background: #9f5e26;
                margin-top: -2px;
                margin-left: -2px;
            }

        .venus {
            height: 100px;
            width: 100px;
            margin-top: -50px;
            margin-left: -50px;
            -webkit-animation: orb 18.45553s linear infinite;
            animation: orb 18.45553s linear infinite;
        }

            .venus:before {
                height: 8px;
                width: 8px;
                background: #BEB768;
                margin-top: -4px;
                margin-left: -4px;
            }

        .earth {
            height: 145px;
            width: 145px;
            margin-top: -72.5px;
            margin-left: -72.5px;
            -webkit-animation: orb 30s linear infinite;
            animation: orb 30s linear infinite;
        }

            .earth:before {
                height: 6px;
                width: 6px;
                background: #11abe9;
                margin-top: -3px;
                margin-left: -3px;
            }

            .earth:after {
                position: absolute;
                content: "";
                height: 18px;
                width: 18px;
                left: 50%;
                top: 0px;
                margin-left: -9px;
                margin-top: -9px;
                border-radius: 100px;
                box-shadow: 0 -10px 0 -8px grey;
                -webkit-animation: orb 2.24404s linear infinite;
                animation: orb 2.24404s linear infinite;
            }

        .mars {
            height: 190px;
            width: 190px;
            margin-top: -95px;
            margin-left: -95px;
            -webkit-animation: orb 56.42613s linear infinite;
            animation: orb 56.42613s linear infinite;
        }

            .mars:before {
                height: 6px;
                width: 6px;
                background: #cf3921;
                margin-top: -3px;
                margin-left: -3px;
            }

        .jupiter {
            height: 340px;
            width: 340px;
            margin-top: -170px;
            margin-left: -170px;
            -webkit-animation: orb 355.72282s linear infinite;
            animation: orb 355.72282s linear infinite;
        }

            .jupiter:before {
                height: 18px;
                width: 18px;
                background: #c76e2a;
                margin-top: -9px;
                margin-left: -9px;
            }

        .saturn {
            height: 440px;
            width: 440px;
            margin-top: -220px;
            margin-left: -220px;
            -webkit-animation: orb 882.69525s linear infinite;
            animation: orb 882.69525s linear infinite;
        }

            .saturn:before {
                height: 12px;
                width: 12px;
                background: #e7c194;
                margin-top: -6px;
                margin-left: -6px;
            }

            .saturn:after {
                position: absolute;
                content: "";
                height: 2.34%;
                width: 4.676%;
                left: 50%;
                top: 0px;
                -webkit-transform: rotateZ(-52deg);
                transform: rotateZ(-52deg);
                margin-left: -2.3%;
                margin-top: -1.2%;
                border-radius: 50% 50% 50% 50%;
                box-shadow: 0 1px 0 1px #987641, 3px 1px 0 #987641, -3px 1px 0 #987641;
                -webkit-animation: orb 882.69525s linear infinite;
                animation: orb 882.69525s linear infinite;
                -webkit-animation-direction: reverse;
                animation-direction: reverse;
                -webkit-transform-origin: 52% 60%;
                transform-origin: 52% 60%;
            }

        .uranus {
            height: 520px;
            width: 520px;
            margin-top: -260px;
            margin-left: -260px;
            -webkit-animation: orb 2512.4002s linear infinite;
            animation: orb 2512.4002s linear infinite;
        }

            .uranus:before {
                height: 10px;
                width: 10px;
                background: #b5e3e3;
                margin-top: -5px;
                margin-left: -5px;
            }

        .neptune {
            height: 630px;
            width: 630px;
            margin-top: -315px;
            margin-left: -315px;
            -webkit-animation: orb 4911.78386s linear infinite;
            animation: orb 4911.78386s linear infinite;
        }

            .neptune:before {
                height: 10px;
                width: 10px;
                background: #175e9e;
                margin-top: -5px;
                margin-left: -5px;
            }

        .asteroids-belt {
            opacity: .7;
            border-color: transparent !important;
            height: 300px;
            width: 300px;
            margin-top: -150px;
            margin-left: -150px;
            -webkit-animation: orb 179.95583s linear infinite;
            animation: orb 179.95583s linear infinite;
            overflow: hidden;
        }

            .asteroids-belt:before {
                top: 50%;
                height: 210px;
                width: 210px;
                margin-left: -105px;
                margin-top: -105px;
                background: transparent;
                border-radius: 140px !important;
                box-shadow: -121px 116px 0 -104px rgba(255, 255, 255, 0.911), -9px 50px 0 -104px rgba(255,255,255, 0.502), -45px -53px 0 -104px rgba(255,255,255, 0.607), -60px -62px 0 -104px rgba(255,255,255, 0.297), 83px 21px 0 -104px rgba(255,255,255, 0.604), -108px 116px 0 -104px rgba(255,255,255, 0.453), 109px 53px 0 -104px rgba(255,255,255, 0.01), -102px -71px 0 -104px rgba(255,255,255, 0.125), -135px -111px 0 -104px rgba(255,255,255, 0.413), 119px 87px 0 -104px rgba(255,255,255, 0.461), -58px -62px 0 -104px rgba(255,255,255, 0.321), 121px -45px 0 -104px rgba(255,255,255, 0.369), 48px 5px 0 -104px rgba(255,255,255, 0.12), 41px -37px 0 -104px rgba(255,255,255, 0.32), 15px 106px 0 -104px rgba(255,255,255, 0.273), -66px -58px 0 -104px rgba(255,255,255, 0.855), -107px 131px 0 -104px rgba(255,255,255, 0.94), 137px 30px 0 -104px rgba(255,255,255, 0.607), -93px 38px 0 -104px rgba(255,255,255, 0.286), 15px 24px 0 -104px rgba(255,255,255, 0.642), -108px 31px 0 -104px rgba(255,255,255, 0.191), 90px 40px 0 -104px rgba(255,255,255, 0.27), -124px -48px 0 -104px rgba(255,255,255, 0.392), 21px 50px 0 -104px rgba(255,255,255, 0.645), -85px 73px 0 -104px rgba(255,255,255, 0.019), 47px 32px 0 -104px rgba(255,255,255, 0.746), 115px 141px 0 -104px rgba(255,255,255, 0.119), -38px 92px 0 -104px rgba(255,255,255, 0.374), -110px 105px 0 -104px rgba(255,255,255, 0.286), -99px 36px 0 -104px rgba(255,255,255, 0.328), -11px 40px 0 -104px rgba(255,255,255, 0.135), 22px -76px 0 -104px rgba(255,255,255, 0.388), 9px -74px 0 -104px rgba(255,255,255, 0.796), -123px -11px 0 -104px rgba(255,255,255, 0.657), -86px -49px 0 -104px rgba(255,255,255, 0.083), 94px -96px 0 -104px rgba(255,255,255, 0.673), 13px 127px 0 -104px rgba(255,255,255, 0.658), -55px 73px 0 -104px rgba(255,255,255, 0.619), 109px -50px 0 -104px rgba(255,255,255, 0.86), 13px 61px 0 -104px rgba(255,255,255, 0.665), 123px -36px 0 -104px rgba(255,255,255, 0.304), 51px 59px 0 -104px rgba(255,255,255, 0.58), 12px -91px 0 -104px rgba(255,255,255, 0.455), 0px -66px 0 -104px rgba(255,255,255, 0.167), -52px 58px 0 -104px rgba(255,255,255, 0.167), 75px -30px 0 -104px rgba(255,255,255, 0.773), 17px 38px 0 -104px rgba(255,255,255, 0.225), -87px 65px 0 -104px rgba(255,255,255, 0.528), -82px -87px 0 -104px rgba(255,255,255, 0.441), -84px 111px 0 -104px rgba(255,255,255, 0.798), -114px -29px 0 -104px rgba(255,255,255, 0.92), 34px -19px 0 -104px rgba(255,255,255, 0.612), 9px 97px 0 -104px rgba(255,255,255, 0.975), -32px 50px 0 -104px rgba(255,255,255, 0.572), -126px -47px 0 -104px rgba(255,255,255, 0.344), -10px 4px 0 -104px rgba(255,255,255, 0.542), -48px 37px 0 -104px rgba(255,255,255, 0.24), -83px -104px 0 -104px rgba(255,255,255, 0.423), -29px -69px 0 -104px rgba(255,255,255, 0.895), -13px 58px 0 -104px rgba(255,255,255, 0.592), 56px 101px 0 -104px rgba(255,255,255, 0.423), -76px -107px 0 -104px rgba(255,255,255, 0.004), -2px 103px 0 -104px rgba(255,255,255, 0.027), -57px 40px 0 -104px rgba(255,255,255, 0.746), -55px -90px 0 -104px rgba(255,255,255, 0.305), 72px -36px 0 -104px rgba(255,255,255, 0.879), -125px -92px 0 -104px rgba(255,255,255, 0.702), 123px -35px 0 -104px rgba(255,255,255, 0.238), 6px -92px 0 -104px rgba(255,255,255, 0.981), 133px 106px 0 -104px rgba(255,255,255, 0.396), -16px 21px 0 -104px rgba(255,255,255, 0.699), -117px 43px 0 -104px rgba(255,255,255, 0.614), 21px 121px 0 -104px rgba(255,255,255, 0.18), 99px -33px 0 -104px rgba(255,255,255, 0.244), 97px -20px 0 -104px rgba(255,255,255, 0.33), -136px 76px 0 -104px rgba(255,255,255, 0.477), 3px -9px 0 -104px rgba(255,255,255, 0.986), -6px -136px 0 -104px rgba(255,255,255, 0.205), -97px -17px 0 -104px rgba(255,255,255, 0.984), 136px 17px 0 -104px rgba(255,255,255, 0.815), -31px -133px 0 -104px rgba(255,255,255, 0.74), -77px -2px 0 -104px rgba(255,255,255, 0.271), 100px -46px 0 -104px rgba(255,255,255, 0.478), -143px -90px 0 -104px rgba(255,255,255, 0.086), 20px 95px 0 -104px rgba(255,255,255, 0.574), -103px -16px 0 -104px rgba(255,255,255, 0.686), -135px -82px 0 -104px rgba(255,255,255, 0.198), 90px 96px 0 -104px rgba(255,255,255, 0.082), 95px 61px 0 -104px rgba(255,255,255, 0.532), -110px -38px 0 -104px rgba(255,255,255, 0.847), 22px 62px 0 -104px rgba(255,255,255, 0.092), -15px 54px 0 -104px rgba(255,255,255, 0.218), 22px -91px 0 -104px rgba(255,255,255, 0.249), -42px 59px 0 -104px rgba(255,255,255, 0.784), -134px 3px 0 -104px rgba(255,255,255, 0.998), -88px -110px 0 -104px rgba(255,255,255, 0.864), -4px 33px 0 -104px rgba(255,255,255, 0.915), 128px -102px 0 -104px rgba(255,255,255, 0.962), -56px -33px 0 -104px rgba(255,255,255, 0.888), 53px 10px 0 -104px rgba(255,255,255, 0.892), -32px 104px 0 -104px rgba(255,255,255, 0.865), -48px 67px 0 -104px rgba(255,255,255, 0.552), -105px -37px 0 -104px rgba(255,255,255, 0.106), -76px -72px 0 -104px rgba(255,255,255, 0.59), -118px 31px 0 -104px rgba(255,255,255, 0.629), 34px 105px 0 -104px rgba(255,255,255, 0.285), 96px 50px 0 -104px rgba(255,255,255, 0.639), -86px -142px 0 -104px rgba(255,255,255, 0.516), 16px -44px 0 -104px rgba(255,255,255, 0.766), -33px -17px 0 -104px rgba(255,255,255, 0.753), 129px 136px 0 -104px rgba(255,255,255, 0.675), 54px -8px 0 -104px rgba(255,255,255, 0.395), 79px 95px 0 -104px rgba(255,255,255, 0.309), -107px 33px 0 -104px rgba(255,255,255, 0.96), -111px -102px 0 -104px rgba(255,255,255, 0.358), -51px 137px 0 -104px rgba(255,255,255, 0.195), -130px -85px 0 -104px rgba(255,255,255, 0.461), 74px 89px 0 -104px rgba(255,255,255, 0.777), 114px 102px 0 -104px rgba(255,255,255, 0.496), 101px 113px 0 -104px rgba(255,255,255, 0.738), -87px 107px 0 -104px rgba(255,255,255, 0.517), 120px -47px 0 -104px rgba(255,255,255, 0.511), -109px 82px 0 -104px rgba(255,255,255, 0.135), 144px 101px 0 -104px rgba(255,255,255, 0.912), 66px -17px 0 -104px rgba(255,255,255, 0.057), -6px -3px 0 -104px rgba(255,255,255, 0.484), -118px -3px 0 -104px rgba(255,255,255, 0.224), -112px -92px 0 -104px rgba(255,255,255, 0.932), 52px -75px 0 -104px rgba(255,255,255, 0.059), -2px -114px 0 -104px rgba(255,255,255, 0.09), 104px 7px 0 -104px rgba(255,255,255, 0.945), -117px -75px 0 -104px rgba(255,255,255, 0.824), -24px 58px 0 -104px rgba(255,255,255, 0.724), 101px 101px 0 -104px rgba(255,255,255, 0.236), -74px -58px 0 -104px rgba(255,255,255, 0.821), 47px -61px 0 -104px rgba(255,255,255, 0.678), -18px 82px 0 -104px rgba(255,255,255, 0.92), -92px 14px 0 -104px rgba(255,255,255, 0.725), -93px 23px 0 -104px rgba(255,255,255, 0.955), -74px 97px 0 -104px rgba(255,255,255, 0.852), -89px -9px 0 -104px rgba(255,255,255, 0.422), 144px 33px 0 -104px rgba(255,255,255, 0.006), -143px -125px 0 -104px rgba(255,255,255, 0.408), 62px -12px 0 -104px rgba(255,255,255, 0.311), 52px -117px 0 -104px rgba(255,255,255, 0.954), -138px -93px 0 -104px rgba(255,255,255, 0.77), -11px -69px 0 -104px rgba(255,255,255, 0.215), -25px 77px 0 -104px rgba(255,255,255, 0.123), -78px -83px 0 -104px rgba(255,255,255, 0.526), 102px 67px 0 -104px rgba(255,255,255, 0.212), 9px -94px 0 -104px rgba(255,255,255, 0.366), -121px 60px 0 -104px rgba(255,255,255, 0.127), -7px 145px 0 -104px rgba(255,255,255, 0.564), -70px 84px 0 -104px rgba(255,255,255, 0.379), 96px 61px 0 -104px rgba(255,255,255, 0.744), -88px 43px 0 -104px rgba(255,255,255, 0.604), 44px -72px 0 -104px rgba(255,255,255, 0.601), 14px -18px 0 -104px rgba(255,255,255, 0.623), -77px -39px 0 -104px rgba(255,255,255, 0.971), 116px -28px 0 -104px rgba(255,255,255, 0.768), -106px -58px 0 -104px rgba(255,255,255, 0.592), 30px -138px 0 -104px rgba(255,255,255, 0.697), 107px 127px 0 -104px rgba(255,255,255, 0.772), 110px -23px 0 -104px rgba(255,255,255, 0.884), 119px 49px 0 -104px rgba(255,255,255, 0.981), -14px 38px 0 -104px rgba(255,255,255, 0.105), -107px 140px 0 -104px rgba(255,255,255, 0.273), 73px -11px 0 -104px rgba(255,255,255, 0.45), -61px 100px 0 -104px rgba(255,255,255, 0.937), -87px -115px 0 -104px rgba(255,255,255, 0.38), 34px 109px 0 -104px rgba(255,255,255, 0.46), -58px -1px 0 -104px rgba(255,255,255, 0.234), -66px -82px 0 -104px rgba(255,255,255, 0.19), 0px 63px 0 -104px rgba(255,255,255, 0.389), 109px 51px 0 -104px rgba(255,255,255, 0.948), 37px -79px 0 -104px rgba(255,255,255, 0.984), -92px 4px 0 -104px rgba(255,255,255, 0.58), -101px -44px 0 -104px rgba(255,255,255, 0.67), -4px 137px 0 -104px rgba(255,255,255, 0.104), 103px 64px 0 -104px rgba(255,255,255, 0.951), 137px -93px 0 -104px rgba(255,255,255, 0.068), 31px 56px 0 -104px rgba(255,255,255, 0.031), 98px -40px 0 -104px rgba(255,255,255, 0.02), -28px -15px 0 -104px rgba(255,255,255, 0.682), -75px 114px 0 -104px rgba(255,255,255, 0.752), -35px 94px 0 -104px rgba(255,255,255, 0.404), 91px 78px 0 -104px rgba(255,255,255, 0.743), 125px -60px 0 -104px rgba(255,255,255, 0.785), -34px 143px 0 -104px rgba(255,255,255, 0.455), -109px -19px 0 -104px rgba(255,255,255, 0.996), -125px -82px 0 -104px rgba(255,255,255, 0.403), -46px 112px 0 -104px rgba(255,255,255, 0.714), 74px 141px 0 -104px rgba(255,255,255, 0.895), -77px -25px 0 -104px rgba(255,255,255, 0.631), -57px -86px 0 -104px rgba(255,255,255, 0.672), 105px 76px 0 -104px rgba(255,255,255, 0.357), -117px -71px 0 -104px rgba(255,255,255, 0.994), 18px -29px 0 -104px rgba(255,255,255, 0.055), 101px -109px 0 -104px rgba(255,255,255, 0.679), -59px 8px 0 -104px rgba(255,255,255, 0.657), -97px -67px 0 -104px rgba(255,255,255, 0.569), -66px -80px 0 -104px rgba(255,255,255, 0.134), 43px 141px 0 -104px rgba(255,255,255, 0.046), 82px -56px 0 -104px rgba(255,255,255, 0.541), 114px -92px 0 -104px rgba(255,255,255, 0.635), 51px -104px 0 -104px rgba(255,255,255, 0.376), -6px 80px 0 -104px rgba(255,255,255, 0.009), 119px 0px 0 -104px rgba(255,255,255, 0.676), 18px 54px 0 -104px rgba(255,255,255, 0.96), -76px -46px 0 -104px rgba(255,255,255, 0.957), -99px -61px 0 -104px rgba(255,255,255, 0.451), 83px -116px 0 -104px rgba(255,255,255, 0.687), 123px -90px 0 -104px rgba(255,255,255, 0.16), 30px -19px 0 -104px rgba(255,255,255, 0.73), -69px -107px 0 -104px rgba(255,255,255, 0.75), 39px 142px 0 -104px rgba(255,255,255, 0.254), -60px -27px 0 -104px rgba(255,255,255, 0.353), 9px -67px 0 -104px rgba(255,255,255, 0.314), 10px -16px 0 -104px rgba(255,255,255, 0.447), 82px -97px 0 -104px rgba(255,255,255, 0.597), -49px -52px 0 -104px rgba(255,255,255, 0.702), -127px -34px 0 -104px rgba(255,255,255, 0.465), -38px 66px 0 -104px rgba(255,255,255, 0.283), -38px 11px 0 -104px rgba(255,255,255, 0.964), -82px 97px 0 -104px rgba(255,255,255, 0.867), -76px -130px 0 -104px rgba(255,255,255, 0.933), 67px -39px 0 -104px rgba(255,255,255, 0.824), 54px 21px 0 -104px rgba(255,255,255, 0.032), -104px -135px 0 -104px rgba(255,255,255, 0.439), 113px -25px 0 -104px rgba(255,255,255, 0.241), -130px -35px 0 -104px rgba(255,255,255, 0.445), 82px 49px 0 -104px rgba(255,255,255, 0.515), 107px 96px 0 -104px rgba(255,255,255, 0.897), -54px 145px 0 -104px rgba(255,255,255, 0.301), -86px -120px 0 -104px rgba(255,255,255, 0.404), 41px -50px 0 -104px rgba(255,255,255, 0.387), -123px 86px 0 -104px rgba(255,255,255, 0.376), -135px 14px 0 -104px rgba(255,255,255, 0.661), -11px -5px 0 -104px rgba(255,255,255, 0.353), 39px 76px 0 -104px rgba(255,255,255, 0.419), -70px 132px 0 -104px rgba(255,255,255, 0.288), -38px 48px 0 -104px rgba(255,255,255, 0.68), 102px 96px 0 -104px rgba(255,255,255, 0.922), -60px 90px 0 -104px rgba(255,255,255, 0.075), -39px -10px 0 -104px rgba(255,255,255, 0.902), -100px 13px 0 -104px rgba(255,255,255, 0.948), 52px 51px 0 -104px rgba(255,255,255, 0.818), 93px -106px 0 -104px rgba(255,255,255, 0.74), -63px -55px 0 -104px rgba(255,255,255, 0.492), -111px 122px 0 -104px rgba(255,255,255, 0.283), -94px -49px 0 -104px rgba(255,255,255, 0.431), 12px -130px 0 -104px rgba(255,255,255, 0.273), 52px -63px 0 -104px rgba(255,255,255, 0.638), -17px -43px 0 -104px rgba(255,255,255, 0.741), 39px 47px 0 -104px rgba(255,255,255, 0.035), -34px 47px 0 -104px rgba(255,255,255, 0.144), -102px 6px 0 -104px rgba(255,255,255, 0.461), -18px -100px 0 -104px rgba(255,255,255, 0.646), -96px -80px 0 -104px rgba(255,255,255, 0.654), -110px -73px 0 -104px rgba(255,255,255, 0.779), 21px 6px 0 -104px rgba(255,255,255, 0.913), 78px 6px 0 -104px rgba(255,255,255, 0.691), 28px -94px 0 -104px rgba(255,255,255, 0.27), 52px -92px 0 -104px rgba(255,255,255, 0.994), -53px -59px 0 -104px rgba(255,255,255, 0.637), 96px 68px 0 -104px rgba(255,255,255, 0.778), -136px 81px 0 -104px rgba(255,255,255, 0.86), -74px 19px 0 -104px rgba(255,255,255, 0.753), -77px 95px 0 -104px rgba(255,255,255, 0.184), 139px -73px 0 -104px rgba(255,255,255, 0.137), -14px 11px 0 -104px rgba(255,255,255, 0.095), 31px -4px 0 -104px rgba(255,255,255, 0.138), -4px -122px 0 -104px rgba(255,255,255, 0.115), -124px -37px 0 -104px rgba(255,255,255, 0.972), 27px 77px 0 -104px rgba(255,255,255, 0.52), -7px -93px 0 -104px rgba(255,255,255, 0.48), 111px -48px 0 -104px rgba(255,255,255, 0.768), 11px 8px 0 -104px rgba(255,255,255, 0.888), -48px 84px 0 -104px rgba(255,255,255, 0.144), 56px -6px 0 -104px rgba(255,255,255, 0.127), 46px 98px 0 -104px rgba(255,255,255, 0.282), 70px -72px 0 -104px rgba(255,255,255, 0.807), 32px 104px 0 -104px rgba(255,255,255, 0.552), -31px -45px 0 -104px rgba(255,255,255, 0.373), 128px -127px 0 -104px rgba(255,255,255, 0.393), 18px 76px 0 -104px rgba(255,255,255, 0.984), 56px -54px 0 -104px rgba(255,255,255, 0.772), -99px -16px 0 -104px rgba(255,255,255, 0.877), -56px -94px 0 -104px rgba(255,255,255, 0.991), 2px -62px 0 -104px rgba(255,255,255, 0.731), -144px -16px 0 -104px rgba(255,255,255, 0.815), -2px -47px 0 -104px rgba(255,255,255, 0.81), -114px -84px 0 -104px rgba(255,255,255, 0.763), -64px 75px 0 -104px rgba(255,255,255, 0.427), -84px 66px 0 -104px rgba(255,255,255, 0.901), -33px -71px 0 -104px rgba(255,255,255, 0.236), 116px -109px 0 -104px rgba(255,255,255, 0.734), 22px -124px 0 -104px rgba(255,255,255, 0.676), -130px 80px 0 -104px rgba(255,255,255, 0.995), -77px -114px 0 -104px rgba(255,255,255, 0.218), 92px -9px 0 -104px rgba(255,255,255, 0.443), 114px -19px 0 -104px rgba(255,255,255, 0.347), -48px 27px 0 -104px rgba(255,255,255, 0.031), -137px 83px 0 -104px rgba(255,255,255, 0.041), -141px 76px 0 -104px rgba(255,255,255, 0.426), -126px -29px 0 -104px rgba(255,255,255, 0.38), -99px -62px 0 -104px rgba(255,255,255, 0.431), 123px 138px 0 -104px rgba(255,255,255, 0.836), -51px 78px 0 -104px rgba(255,255,255, 0.888), -57px 141px 0 -104px rgba(255,255,255, 0.19), 122px 88px 0 -104px rgba(255,255,255, 0.259), -105px -12px 0 -104px rgba(255,255,255, 0.59), 48px 36px 0 -104px rgba(255,255,255, 0.724), -137px 97px 0 -104px rgba(255,255,255, 0.415), -37px -105px 0 -104px rgba(255,255,255, 0.513), 92px -123px 0 -104px rgba(255,255,255, 0.129), 142px -141px 0 -104px rgba(255,255,255, 0.192), 15px 5px 0 -104px rgba(255,255,255, 0.542), 35px -21px 0 -104px rgba(255,255,255, 0.28), 107px 117px 0 -104px rgba(255,255,255, 0.501), -68px 25px 0 -104px rgba(255,255,255, 0.34), 30px 128px 0 -104px rgba(255,255,255, 0.171), 94px -57px 0 -104px rgba(255,255,255, 0.245), 23px 14px 0 -104px rgba(255,255,255, 0.638), -26px 47px 0 -104px rgba(255,255,255, 0.326), 27px -124px 0 -104px rgba(255,255,255, 0.717), 30px 58px 0 -104px rgba(255,255,255, 0.902), -36px -51px 0 -104px rgba(255,255,255, 0.616), -108px -60px 0 -104px rgba(255,255,255, 0.63), -85px -133px 0 -104px rgba(255,255,255, 0.873), 21px 129px 0 -104px rgba(255,255,255, 0.847), 100px 92px 0 -104px rgba(255,255,255, 0.809), 106px -23px 0 -104px rgba(255,255,255, 0.648), 126px -120px 0 -104px rgba(255,255,255, 0.255), 55px -24px 0 -104px rgba(255,255,255, 0.223), 3px 109px 0 -104px rgba(255,255,255, 0.331), 12px 70px 0 -104px rgba(255,255,255, 0.018), 79px 114px 0 -104px rgba(255,255,255, 0.42), -21px 106px 0 -104px rgba(255,255,255, 0.322), -138px 4px 0 -104px rgba(255,255,255, 0.304), 54px 61px 0 -104px rgba(255,255,255, 0.485), -67px -43px 0 -104px rgba(255,255,255, 0.213), 57px -51px 0 -104px rgba(255,255,255, 0.164), 30px 68px 0 -104px rgba(255,255,255, 0.563), 65px -93px 0 -104px rgba(255,255,255, 0.589), 42px 38px 0 -104px rgba(255,255,255, 0.473), 62px -78px 0 -104px rgba(255,255,255, 0.634), 142px -86px 0 -104px rgba(255,255,255, 0.008), 25px -117px 0 -104px rgba(255,255,255, 0.42), 135px -139px 0 -104px rgba(255,255,255, 0.002), 104px -68px 0 -104px rgba(255,255,255, 0.791), 132px -102px 0 -104px rgba(255,255,255, 0.244), 0px -102px 0 -104px rgba(255,255,255, 0.938), 93px -68px 0 -104px rgba(255,255,255, 0.879), -35px 0px 0 -104px rgba(255,255,255, 0.701), 125px -106px 0 -104px rgba(255,255,255, 0.592), -89px -84px 0 -104px rgba(255,255,255, 0.582), 37px -130px 0 -104px rgba(255,255,255, 0.294), -6px 63px 0 -104px rgba(255,255,255, 0.979), 46px -119px 0 -104px rgba(255,255,255, 0.371), -66px 60px 0 -104px rgba(255,255,255, 0.583), 19px 137px 0 -104px rgba(255,255,255, 0.429), 34px 8px 0 -104px rgba(255,255,255, 0.885), 131px 70px 0 -104px rgba(255,255,255, 0.949), -106px -7px 0 -104px rgba(255,255,255, 0.115), -100px -90px 0 -104px rgba(255,255,255, 0.987), -17px 120px 0 -104px rgba(255,255,255, 0.933), 144px -78px 0 -104px rgba(255,255,255, 0.055), -4px 119px 0 -104px rgba(255,255,255, 0.274), 50px -42px 0 -104px rgba(255,255,255, 0.521), 76px -92px 0 -104px rgba(255,255,255, 0.802), 144px 15px 0 -104px rgba(255,255,255, 0.772), 66px 45px 0 -104px rgba(255,255,255, 0.925), 15px 109px 0 -104px rgba(255,255,255, 0.571), 128px -129px 0 -104px rgba(255,255,255, 0.991), 97px 86px 0 -104px rgba(255,255,255, 0.402), -83px 30px 0 -104px rgba(255,255,255, 0.071), 47px 44px 0 -104px rgba(255,255,255, 0.045), -53px -117px 0 -104px rgba(255,255,255, 0.492), 93px 92px 0 -104px rgba(255,255,255, 0.737), -15px 63px 0 -104px rgba(255,255,255, 0.564), 61px -90px 0 -104px rgba(255,255,255, 0.854), -100px 54px 0 -104px rgba(255,255,255, 0.506), -55px -30px 0 -104px rgba(255,255,255, 0.93), -75px -87px 0 -104px rgba(255,255,255, 0.326), 143px -79px 0 -104px rgba(255,255,255, 0.346), -54px -74px 0 -104px rgba(255,255,255, 0.709), 88px -17px 0 -104px rgba(255,255,255, 0.354), 124px -22px 0 -104px rgba(255,255,255, 0.231), -60px 80px 0 -104px rgba(255,255,255, 0.524);
            }

        .pluto {
            height: 780px;
            width: 780px;
            margin-top: -450px;
            margin-left: -320px;
            -webkit-animation: orb 7439.70741s linear infinite;
            animation: orb 7439.70741s linear infinite;
        }

            .pluto:before {
                height: 3px;
                width: 3px;
                background: #fff;
                margin-top: -1.5px;
                margin-left: -1.5px;
            }

        .hide {
            display: none;
        }

        .links {
            margin-top: 5px !important;
            font-size: 1em !important;
        }

        @@-webkit-keyframes orb {
            from {
                -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
            }

            to {
                -webkit-transform: rotate(-360deg);
                transform: rotate(-360deg);
            }
        }

        @@keyframes orb {
            from {
                -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
            }

            to {
                -webkit-transform: rotate(-360deg);
                transform: rotate(-360deg);
            }
        }
    </style> }

@if (User.IsInRole("Admin"))
{
    <div class="row tile_count">
        <div class="animated flipInY col-md-3 col-sm-4 col-xs-4 tile_stats_count">
            <div class="left"></div>
            <div class="right">
                <span class="count_top"><i class="fa fa-user"></i> Tổng số lượng khách</span>
                <div class="count">@ViewData["totalcustomer"]</div>
                @try
                {
                    if (((float)ViewData["customerincrease"]) < 0)
                    {
                        <span class="count_bottom"><i class="red"><i class="fa fa-sort-desc"></i>@ViewData["customerincrease"]% </i> so với tháng trước</span>

                    }
                    else
                    {
                        <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>@ViewData["customerincrease"]% </i> so với tháng trước</span>

                    }
                }
                catch (Exception e)
                {
                    <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>0% </i> so với tháng trước</span>

                }

            </div>
        </div>
        <div class="animated flipInY col-md-3 col-sm-4 col-xs-4 tile_stats_count">
            <div class="left"></div>
            <div class="right">
                <span class="count_top"><i class="fa fa-clock-o"></i> Tổng doanh thu tháng</span>
                <div class="count">@(((float)ViewData["Revenue"]).ToString("N0"))</div>
                @try
                {
                    if (((float)ViewData["RevenueIncrease"]) < 0)
                    {
                        <span class="count_bottom"><i class="red"><i class="fa fa-sort-desc"></i>@ViewData["RevenueIncrease"]% </i> so với tháng trước</span>

                    }
                    else
                    {
                        <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>@ViewData["chiphisuachuainc"]% </i> so với tháng trước</span>

                    }
                }
                catch (Exception e)
                {
                    <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>0% </i> so với tháng trước</span>

                }

            </div>
        </div>

        <div class="animated flipInY col-md-3 col-sm-4 col-xs-4 tile_stats_count">
            <div class="left"></div>
            <div class="right">
                <span class="count_top"><i class="fa fa-user"></i>Thiệt bị được bảo hành</span>
                <div class="count">@ViewData["SoSanPhamBaohanh"]</div>

                @try
                {
                    if (((float)ViewData["SoSanPhamBaohanhInc"]) < 0)
                    {
                        <span class="count_bottom"><i class="red"><i class="fa fa-sort-desc"></i>@ViewData["SoSanPhamBaohanhInc"]% </i> so với tháng trước</span>

                    }
                    else
                    {
                        <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>@ViewData["SoSanPhamBaohanhInc"]% </i> so với tháng trước</span>

                    }
                }
                catch (Exception e)
                {
                    <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>0% </i> so với tháng trước</span>

                }

            </div>
        </div>
        <div class="animated flipInY col-md-3 col-sm-4 col-xs-4 tile_stats_count">
            <div class="left"></div>
            <div class="right">
                <span class="count_top"><i class="fa fa-user"></i> Tổng chi phí sửa chữa </span>
                <div class="count">@ViewData["chiphisuachua"]</div>
                @try
                {
                    if ((ViewData["chiphisuachuainc"]) != null)
                    {
                        if ((float)ViewData["chiphisuachuainc"] > 0)
                        {
                            <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>@ViewData["chiphisuachuainc"]% </i> so với tháng trước</span>
                        }
                        else
                        {
                            <span class="count_bottom"><i class="red"><i class="fa fa-sort-desc"></i>@ViewData["chiphisuachuainc"]% </i> so với tháng trước</span>

                        }
                    }
                    else
                    {
                        <span class="count_bottom"><i class="red"><i class="fa fa-sort-desc"></i>@ViewData["chiphisuachuainc"]% </i> so với tháng trước</span>

                    }
                }
                catch (Exception e)
                {
                    <span class="count_bottom"><i class="red"><i class="fa fa-sort-desc"></i>0% </i> so với tháng trước</span>
                }

            </div>
        </div>
    </div>
                <!-- /top tiles -->
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="dashboard_graph">
                <div class="row x_title">
                    <div class="col-md-6">
                        <h3>Thống kê hoạt động <small><input disabled style="width:50px;background-color:rgba(38, 185, 154, 0.38)" />:Doanh Số  <input disabled style="width:50px;background-color:rgba(3, 88, 106, 0.38)" />:Sữa chữa</small></h3>
                    </div>
                    @*<div class="col-md-6">
                            <div id="reportrange" class="pull-right" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc">
                                <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
                                <span>December 30, 2014 - January 28, 2015</span> <b class="caret"></b>
                            </div>
                        </div>*@
                </div>
                <div class="col-md-12 col-sm-9 col-xs-12">
                    <div id="placeholder33" style="height: 260px; display: none" class="demo-placeholder"></div>
                    <div style="width: 100%;">
                        <div id="canvas_dahs" class="demo-placeholder" style="width: 100%; height:270px;"></div>
                    </div>
                </div>

                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <br />
    <div class="row">

        <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="x_panel tile fixed_height_320">
                <div class="x_title">
                    <h2>Sản phẩm bảo hành nhiều nhất</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    <a href="#">Settings 1</a>
                                </li>
                                <li>
                                    <a href="#">Settings 2</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <h4>Tính theo số lượng</h4>
                    @foreach (tb_product_detail sp in (List<tb_product_detail>)ViewData["top5fix"])
                    {
                        double totalfix = (int)ViewData["TotalFix"];
                        <div class="widget_summary">
                            <div class="w_left w_25">
                                <span>@sp.productStoreID</span>
                            </div>
                            <div class="w_center w_55">
                                <div class="progress">
                                    <div class="progress-bar bg-green" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: @(100*(sp.tb_warranty_activities.Count()/totalfix))%;">
                                    </div>
                                </div>
                            </div>
                            <div class="w_right w_20">
                                <span>@sp.tb_warranty_activities.Count()</span>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    }

                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="x_panel tile fixed_height_320 overflow_hidden">
                <div class="x_title">
                    <h2>Sản phẩm chạy nhất</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    <a href="#">Settings 1</a>
                                </li>
                                <li>
                                    <a href="#">Settings 2</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <table class="" style="width:100%">
                        <tr>
                            <th style="width:37%;">
                                <p>Top 5</p>
                            </th>
                            <th>
                                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                                    <p class="">SKU</p>
                                </div>
                                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                                    <p class="">Tỉ trọng</p>
                                </div>
                            </th>
                        </tr>
                        <tr>
                            <td>
                                <canvas id="canvas1" height="140" width="140" style="margin: 15px 10px 10px 0"></canvas>
                            </td>
                            <td>
                                <table class="tile_info">
                                    @foreach (topsell sp in (List<topsell>)ViewData["top5sell"])
                                    {
                                        DateTime now = DateTime.Now;
                                        int totalsell = (int)ViewData["totalsell"];
                                        <tr>
                                            <td>
                                                @if (sp.SKU.Equals("000000"))
                                                {
                                                    <p>Sản phẩm chưa lưu </p>
                                                }
                                                else
                                                {
                                                    <p>@sp.SKU </p>
                                                }

                                            </td>

                                            <td>@(100 * sp.itemsold / totalsell)%</td>
                                        </tr>
                                    }

                                    <tr>
                                        <td>
                                            <p><i class="fa fa-square red"></i>Others </p>
                                        </td>
                                        @if ((int)ViewData["totalsell"] > 0)
                                        {
                                            int total = (int)ViewData["totalsell"];
                                            int rest = total - ((List<topsell>)ViewData["top5sell"]).Sum(u => u.itemsold);
                                            <td>@(100 * rest / total)%</td>
                                        }
                                        else
                                        {
                                            <td>0%</td>
                                        }
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="x_panel tile fixed_height_320">
                <div class="x_title">
                    <h2>Nhân viên kỹ thuật tích cực nhất</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    <a href="#">Settings 1</a>
                                </li>
                                <li>
                                    <a href="#">Settings 2</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">

                    <h4>Tính theo thiết bị chịu trách nhiệm</h4>
                    @foreach (AspNetUser user in (List<AspNetUser>)ViewData["top5active"])
                    {
                        int totaldiem = (int)ViewData["totaldiem"];
                        <div class="widget_summary">
                            <div class="w_left w_25">
                                <span>@user.FullName</span>
                            </div>
                            <div class="w_center w_55">
                                <div class="progress">
                                    <div class="progress-bar bg-green" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: @(100*user.tb_warranty_activities1.Count()/totaldiem)%;">
                                        <span class="sr-only">60% Complete</span>
                                    </div>
                                </div>
                            </div>
                            <div class="w_right w_20">
                                <span>@user.tb_warranty_activities1.Count()</span>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    <script>
        var data1 = [];
        var data2 = [];
        function gd(year, month, day) {
            return new Date(year, month - 1, day).getTime();
        }
    </script>
    for (int i = 1; i < 13; i++)
    {
        DateTime now = DateTime.Now;
        double sold = ((List<order>)ViewData["allorder"]).Where(u => u.date.Month == i && u.date.Year == now.Year).Sum(u => u.total);
        double fee = ((List<warrantyActivityFee>)ViewData["warrantyActivityFee"]).Where(u => u.tb_warranty_activities.startDate.Month == i && u.tb_warranty_activities.startDate.Year == now.Year).Sum(u => u.fixingfee);
        double fee2 = ((List<warrantyActivityFixingFee>)ViewData["warrantyActivityFixingFee"]).Where(u => u.tb_warranty_activities.startDate.Month == i && u.tb_warranty_activities.startDate.Year == now.Year).Sum(u => u.fee);
        double fee3 = fee + fee2;
        <script>
            data1.push([gd(@now.Year, @i, @i), @sold]);
            data2.push([gd(@now.Year, @i, @i), @fee3]);
        </script>
    }


    <script>
        $(document).ready(function () {
            // [17, 74, 6, 39, 20, 85, 7]
            //[82, 23, 66, 9, 99, 6, 2]



            $("#canvas_dahs").length && $.plot($("#canvas_dahs"), [
              data1, data2
            ], {
                series: {
                    lines: {
                        show: false,
                        fill: true
                    },
                    splines: {
                        show: true,
                        tension: 0.4,
                        lineWidth: 1,
                        fill: 0.4
                    },
                    points: {
                        radius: 0,
                        show: true
                    },
                    shadowSize: 2
                },
                grid: {
                    verticalLines: true,
                    hoverable: true,
                    clickable: true,
                    tickColor: "#d5d5d5",
                    borderWidth: 1,
                    color: '#fff'
                },
                colors: ["rgba(38, 185, 154, 0.38)", "rgba(3, 88, 106, 0.38)"],
                xaxis: {
                    tickColor: "rgba(51, 51, 51, 0.06)",
                    mode: "time",
                    tickSize: [1, "month"],
                    //tickLength: 10,
                    axisLabel: "Date",
                    axisLabelUseCanvas: true,
                    axisLabelFontSizePixels: 12,
                    axisLabelFontFamily: 'Verdana, Arial',
                    axisLabelPadding: 10,
                    mode: "time", timeformat: "%m/%y", minTickSize: [1, "month"]
                },
                yaxis: {
                    ticks: 8,
                    tickColor: "rgba(51, 51, 51, 0.06)",
                    labels: {
                        formatter: function () {
                            return Highcharts.numberFormat(this.value, 0,'','');
                        }
                    }
                },
                tooltip: false,

            });


        });
    </script>
                <script>
                    var mlabels = [];
                    var mdata = [];
                </script>
    foreach (topsell ts in (List<topsell>)ViewData["top5sell"])
    {
        if (ts.SKU.Contains("00000")) { ts.SKU = "Sản phẩm tạm"; }

        <script>
            mlabels.push("@ts.SKU");
            mdata.push(@(100*ts.itemsold/(int)ViewData["totalsell"]));
        </script>
    }
    <script>
        mlabels.push("Others");
        mdata.push(@( 100* ((int)ViewData["totalsell"] -((List<topsell>)ViewData["top5sell"]).Sum(u=>u.itemsold)) / (int)ViewData["totalsell"]));
    </script>
    <script>
        Chart.defaults.global.legend = {
            enabled: false
        };

        var data = {
            labels: mlabels,
            datasets: [{
                data: mdata,
                backgroundColor: [
                  "#BDC3C7",
                  "#9B59B6",
                  "#455C73",
                  "#26B99A",
                  "#3498DB"
                ],
                hoverBackgroundColor: [
                  "#CFD4D8",
                  "#B370CF",
                  "#34495E",
                  "#36CAAB",
                  "#49A9EA"
                ]

            }]
        };

        var canvasDoughnut = new Chart(document.getElementById("canvas1"), {
            type: 'doughnut',
            tooltipFillColor: "rgba(51, 51, 51, 0.55)",
            data: data
        });
    </script>
    <script>
        function formatso(){
            Number.prototype.format = function(n, x) {
                var re = '\\d(?=(\\d{' + (x || 3) + '})+' + (n > 0 ? '\\.' : '$') + ')';
                return this.toFixed(Math.max(0, ~~n)).replace(new RegExp(re, 'g'), '$&,');
            };
            $(".tickLabel").each(function(){

                var value = parseInt($(this).text());
                $(this).text(value.format());
            })
        };
        window.setTimeout(formatso, 500);

    </script>
}
else
{
  
        
    <div class='solar-syst' style="padding-top:1000px;width:100%;height:100%">
        <div class='sun'></div>
        <div class='mercury'></div>
        <div class='venus'></div>
        <div class='earth'></div>
        <div class='mars'></div>
        <div class='jupiter'></div>
        <div class='saturn'></div>
        <div class='uranus'></div>
        <div class='neptune'></div>
        <div class='pluto'></div>
        <div class='asteroids-belt'></div>
    </div>
    @*<div class="sea" style="width:100%;height:100%;background-image:url('~/Content/images/flying-drones.jpg')">
        <div class="circle-wrapper">
            <div class="bubble"></div>
            <div class="submarine-wrapper">
                <div class="submarine-body">
                    <div class="window"></div>
                    <div class="engine"></div>
                    <div class="light"></div>
                </div>
                <div class="helix"></div>
                <div class="hat">
                    <div class="leds-wrapper">
                        <div class="periscope"></div>
                        <div class="leds"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>*@




}
