
@using ThienNga2.Models.Entities;

<head>

    <meta name="viewport" content="width=device-width" />
    <title>Inventory</title>

    <link href="~/Content/js/datatables/fixedHeader.bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/js/datatables/responsive.bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Content/js/pace/pace.min.js"></script>
    <script src="~/Content/js/datatables/jquery.dataTables.min.js"></script>
    <script src="~/Content/js/datatables/dataTables.bootstrap.js"></script>
    <script src="~/Content/js/datatables/dataTables.buttons.min.js"></script>
    <script src="~/Content/js/datatables/buttons.bootstrap.min.js"></script>
    <script src="~/Content/js/datatables/jszip.min.js"></script>
    <script src="~/Content/js/datatables/pdfmake.min.js"></script>
    <script src="~/Content/js/datatables/vfs_fonts.js"></script>
    <script src="~/Content/js/datatables/buttons.html5.min.js"></script>
    <script src="~/Content/js/datatables/buttons.print.min.js"></script>
    <script src="~/Content/js/datatables/dataTables.fixedHeader.min.js"></script>
    <script src="~/Content/js/datatables/dataTables.keyTable.min.js"></script>
    <script src="~/Content/js/datatables/dataTables.responsive.min.js"></script>
    <script src="~/Content/js/datatables/responsive.bootstrap.min.js"></script>
    <script src="~/Content/jsdatatables/dataTables.scroller.min.js"></script>
</head>
<div class="">
    <div class="page-title">
        <div class="title_left">
            <h3>Khách hàng</h3>
        </div>


    </div>
    <div class="clearfix"></div>

    <div class="row">
        <div class="col-md-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Danh sách khách hàng</h2>

                    <div class="clearfix"></div>
                </div>
                <div class="x_content">


                    <!-- start project list -->
                    <table id="myacttable" class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>Ngày tạo</th>
                                <th>Tên</th>
                                <th>SDT</th>
                                <th>Địa chỉ</th>
                                <th>Dịa chỉ giao hàng</th>
                                <th>Email</th>
                                <th>Nhóm khách</th>
                                <th width="20%">#Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (tb_customer cus in (List<tb_customer>)ViewData["dskh"])
                            {
                                <form action="/Customer/EditCustomer">
                                    <tr>
                                        <td>
                                            
                                            @cus.CreatedDate.ToShortDateString()
                                        </td>
                                        <td>
                                            <input name="customerName" type="text" value="@cus.customerName" />
                                           
                                        </td>
                                        <td>
                                            <input name="phonenumber" type="text" value="@cus.phonenumber" />
                                   
                                        </td>
                                        <td>
                                            <input name="address" type="text" value="@cus.address" />
                            
                                        </td>
                                        <td>
                                            <input name="address2" type="text" value="@cus.address2" />
                                     
                                        </td>
                                        <td>
                                            <input name="Email" type="text" value="@cus.Email" />

                                        </td>
                                        @if (cus.CustomerType != null)
                                        {
                                            <td style="background-color:@cus.CustomerType.Color">
                                                <font color="black">@cus.CustomerType.GroupName </font>
                                                <select name="Type" id="tb_customer_Type">
                                                    @foreach (CustomerType type in (List<CustomerType>)ViewData["dsnkh"])
                                                    {
                                                        if (type.id == cus.Type)
                                                        {
                                                            <option selected style="background:@(type.Color);" value="@type.id"> @type.GroupName </option>

                                                        }
                                                        else
                                                        {
                                                        }
                                                    }

                                                </select>
                                            </td>
                                        }
                                        else
                                        {
                                            <td></td>
                                        }
                                        <td>
                                            <a href="/Customer/KhachHangDetail?id=@cus.id" class="btn btn-primary">Sản phẩm đã mua</a>
                                            <button type="submit" class="btn btn-warning">Cập nhập</button>

                                        </td>
                                    </tr>
                                </form>
                            }


                        </tbody>
                    </table>
                    <!-- end project list -->

                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function DeleteAct(actid) {
        var r = confirm("Bạn chắc chắn muốn xóa ko?");
        if (r == true) {
            $.getJSON("/Warranty/DeleteAct?id=" + actid, function (result) {
                $.each(result, function (name, value) {
                    if (name == "done") {
                        $("#trid" + actid).css("display", "none");
                        alert("Đã xóa");
                    }
                })
            });
        } else {

        }

    }
</script>
<script>
          var handleDataTableButtons = function() {
              "use strict";
              0 !== $("#myacttable").length && $("#myacttable").DataTable({
                dom: "Bfrtip",
                buttons: [{
                  extend: "copy",
                  className: "btn-sm"
                }, {
                  extend: "csv",
                  className: "btn-sm"
                }, {
                  extend: "excel",
                  className: "btn-sm"
                }, {
                  extend: "pdf",
                  className: "btn-sm"
                }, {
                  extend: "print",
                  className: "btn-sm"
                }],
                responsive: !0
              })
            },
            TableManageButtons = function() {
              "use strict";
              return {
                init: function() {
                  handleDataTableButtons()
                }
              }
            }();
</script>
<script type="text/javascript">

          TableManageButtons.init();
</script>
